---
layout: basic
---
{% assign rootResource = site.rootResource | rdf_get %}
{% include strings.html %}

{% include components/navigation_events.html %}


{% capture subEventQuery %}
  SELECT DISTINCT ?event (MIN(?dates) as ?date)
  WHERE {
    ?resourceUri schema:subEvent ?event .
    ?event schema:date ?dates .
  }
  GROUP BY ?event
  ORDER BY ?date
{% endcapture %}

{% assign subEvents = rootResource | sparql_query: subEventQuery %}

<div class="card-list">
  <ul>
  {% for row in subEvents %}
  {% assign slogan = row.event | rdf_property: "schema:slogan", site.language %}
  {% assign abstract = row.event | rdf_property: "schema:abstract", site.language %}
  {% assign dates = row.event | rdf_property: "schema:date", nil, true %}
  <li>
    <div class="card">
      <h2>
        <a class="highlight" href="{{ row.event.page_url | relativize_url }}">
          {{ row.event | rdf_property: "rdfs:label", site.language }}
          ({{ row.event | rdf_property: "dw:slug" }})
        </a>
      </h2>
      <p class="dates">
        {% for weekday in dates %}
        <time>
          <strong class="highlighted x1">{{ weekday | localize: "%a" }}</strong><br/>
          <strong>{{ weekday }}</strong>
        </time>
        {% endfor %}
      </p>
      {% if slogan %}<p><em>{{ slogan }}</em></p>{% endif %}
      {% if abstract %}<p class="justify"><small>{{ abstract }}</small></p>{% endif %}
    </div>
  </li>
  {% endfor %}
  </ul>
</div>
