---
layout: basic
---

{% include strings.html %}
{% assign programResource = "dw24:program" | rdf_get %}
{% assign venueResource = "<https://2024.dataweek.de/venue/>" | rdf_get %}
{% assign noainvisionResource = "<https://noa-invision.de/>" | rdf_get %}
{% assign htwkResource = "<https://htwk-leipzig.de/>" | rdf_get %}

<div class="content-header">
  <h1>{{str_welcome}}</h1>
  <p>{%- if site.language == 'en' -%}For the online participation no Ticket is required.{%- else -%}Für die Online-Teilnahme ist kein Ticket notwendig.{%- endif -%}</p>
  <a class="btn" href="{{ programResource.render_path | relativize_url }}">{{ programResource | rdf_property: "rdfs:label", site.language}}</a>
  <a class="btn" href="{{ venueResource.render_path | relativize_url }}">{{ venueResource | rdf_property: "rdfs:label", site.language}}</a>
</div>

<div class="sponsors">
  <h2><span>Data Week</span> Live Streams - {{str_supported}}</h2>
  <ul>
    <li>
    {% assign affiliation = noainvisionResource %}
    {% assign depiction = affiliation | rdf_property: "site:small_logo" %}
    {% unless depiction %}
      {% assign depiction = affiliation | rdf_property: "foaf:logo" %}
    {% endunless %}
    {% assign affiliation_alt = affiliation | rdf_property: "rdfs:label" %}
    {% if depiction %}
        <a href="{{ affiliation }}">
          {% include components/img.html alt=affiliation_alt resource=depiction simple=true %}
        </a>
    {% else %}
      <p>
        <a href="{{ affiliation }}">
          {{ affiliation_alt }}
        </a>
      </p>
    {% endif %}
    </li>
    <li>
    {% assign affiliation = htwkResource %}
    {% assign depiction = affiliation | rdf_property: "site:small_logo" %}
    {% unless depiction %}
      {% assign depiction = affiliation | rdf_property: "foaf:logo" %}
    {% endunless %}
    {% assign affiliation_alt = affiliation | rdf_property: "rdfs:label" %}
    {% if depiction %}
        <a href="{{ affiliation }}">
          {% include components/img.html alt=affiliation_alt resource=depiction simple=true %}
        </a>
    {% else %}
      <p>
        <a href="{{ affiliation }}">
          {{ affiliation_alt }}
        </a>
      </p>
    {% endif %}
    </li>
  </ul>
</div>

<div class="card-list">
  <ul>
    <li>
      <div class="card">
        <h2>
          <span class="xl hideunderline">{{ str_monday }}</span>
        </h2>
        <p class="dates">
          <time>
            <strong class="highlighted x1">Menschen vernetzen - Daten nutzen</strong><br/>
            <strong>9.30–17.00</strong><br/>
            <strong>Sitzungssaal</strong><br/>
            <a href="{{ "/live/stream.html" | relativize_url }}#{{site.stream_1_1}}"><svg role="img" focusable="false" aria-hidden="true" height="28" width="42"><use xlink:href="{% relative_link /resources/images/socialmedia.svg %}#youtube"></use></svg></a>
          </time>
          <time>
            <strong class="highlighted x1">Data Science Mania</strong><br/>
            <strong>11.00–16.45</strong><br/>
            <strong>Festsaal</strong><br/>
            <a href="{{ "/live/stream.html" | relativize_url }}#{{site.stream_1_2}}"><svg role="img" focusable="false" aria-hidden="true" height="28" width="42"><use xlink:href="{% relative_link /resources/images/socialmedia.svg %}#youtube"></use></svg></a>
          </time>
        </p>
      </div>
    </li>
    <li>
      <div class="card">
        <h2>
          <span class="xl hideunderline">{{ str_tuesday }}</span>
        </h2>
        <p class="dates">
          <time>
            <strong class="highlighted x1">Kommunen für Kommunen</strong><br/>
            <strong>9.00–17.00</strong><br/>
            <strong>Sitzungssaal</strong><br/>
            <a href="{{ "/live/stream.html" | relativize_url }}#{{site.stream_2_1}}"><svg role="img" focusable="false" aria-hidden="true" height="28" width="42"><use xlink:href="{% relative_link /resources/images/socialmedia.svg %}#youtube"></use></svg></a>
          </time>
          <time>
            <strong class="highlighted x1">Kommunen für Kommunen</strong><br/>
            <strong>11.00–17.00</strong><br/>
            <strong>Festsaal</strong><br/>
            <a href="{{ "/live/stream.html" | relativize_url }}#{{site.stream_2_2}}"><svg role="img" focusable="false" aria-hidden="true" height="28" width="42"><use xlink:href="{% relative_link /resources/images/socialmedia.svg %}#youtube"></use></svg></a>
          </time>
        </p>
      </div>
    </li>
    <li>
      <div class="card">
        <h2>
            <span class="xl hideunderline">{{ str_wednesday }}</span>
        </h2>
        <p class="dates">
          <time>
            <strong class="highlighted x1">Urban Data Summit</strong><br/>
            <strong>9.00–16.30</strong><br/>
            <strong>Sitzungssaal</strong><br/>
            <a href="{{ "/live/stream.html" | relativize_url }}#{{site.stream_3_1}}"><svg role="img" focusable="false" aria-hidden="true" height="28" width="42"><use xlink:href="{% relative_link /resources/images/socialmedia.svg %}#youtube"></use></svg></a>
          </time>
        </p>
      </div>
    </li>
    <li>
      <div class="card">
        <h2>
          <span class="xl hideunderline">{{ str_thursday }}</span>
        </h2>
        <p class="dates">
          <time>
            <strong class="highlighted x1">LSWT</strong><br/>
            <strong>9.00–16.30</strong><br/>
            <strong>Sitzungssaal</strong><br/>
            <a href="{{ "/live/stream.html" | relativize_url }}#{{site.stream_4_1}}"><svg role="img" focusable="false" aria-hidden="true" height="28" width="42"><use xlink:href="{% relative_link /resources/images/socialmedia.svg %}#youtube"></use></svg></a>
          </time>
        </p>
      </div>
    </li>
  </ul>
</div>
