---
layout: basic
---
{% assign rootResource = site.rootResource | rdf_get %}
{% assign teams = rootResource | rdf_property: "schema:organizer", nil, true %}

{% for team in teams %}
  <div class="content-header">
    <h1>
      {{ team | rdf_property: "rdfs:label", site.language }}
    </h1>
  </div>
  <div class="contact-list">
    {% assign persons = team | rdf_container %}
    <ul>
      {% for person in persons %}
        <li>
          {% include components/person.html organizer=person %}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endfor %}
