---
layout: basic
---
{% assign rootResource = site.rootResource | rdf_get %}
{% capture persons_query %}
SELECT distinct ?person WHERE {
  ?person a <http://schema.org/Person> ;
  	<http://xmlns.com/foaf/0.1/name> ?name .
  ?event a schema:Event ;
   	schema:performer ?person .
}  order by ASC(?name)
{% endcapture %}
{% capture dates_query %}
SELECT distinct ?ds WHERE {
  ?rd a <https://dataweek.de/#RoomDay> ;
  	<https://dataweek.de/#datestring> ?ds .

  FILTER(langMatches(lang(?ds), "{{ site.language }}"))
}  order by ASC(?ds)
{% endcapture %}
{% capture affiliations_query %}
SELECT distinct ?al ?affiliation WHERE {
  {
    ?person a <http://schema.org/Person> ;
      <http://xmlns.com/foaf/0.1/name> ?name ;
      schema:affiliation ?affiliation .
    ?event a schema:Event ;
      schema:performer ?person .
    ?affiliation rdfs:label ?al .

    FILTER(langMatches(lang(?al), "{{ site.language }}"))
  }
  UNION
  {
  	?person a <http://schema.org/Person> ;
      <http://xmlns.com/foaf/0.1/name> ?name ;
      schema:memberOf ?affiliation .
    ?event a schema:Event ;
      schema:performer ?person .
    ?affiliation rdfs:label ?al .

    FILTER(langMatches(lang(?al), "{{ site.language }}"))
  }
}  order by ASC(lcase(?al))
{% endcapture %}

<div class="content-header">
  <h1>
    {% if site.language == 'en' %}
      Our speakers
    {% else %}
      Unsere Vortragende
    {% endif %}
  </h1>
  <p>
    {{ rootResource | rdf_property: "schema:abstract", site.language }}
  </p>
  <form class="filter" action="#">
    <div>
      <label for="form-select1" class="hideme">Affiliation</label>
      <select class="form-control" id="form-select1">
        <option value="">
          {% if site.language == 'en' %}
            Choose affiliation
          {% else %}
            Affiliation wählen
          {% endif %}
        </option>
        {% assign affiliations = rootResource | sparql_query: affiliations_query %}
        {% for a in affiliations %}
          <option value="{{ a.affiliation }}">
            {{ a.al }}
          </option>
        {% endfor %}
      </select>
      <label for="form-select2" class="hideme">Tag</label>
      <select class="form-control" id="form-select2">
        <option value="">
          {% if site.language == 'en' %}
            Choose day
          {% else %}
            Tag wählen
          {% endif %}
        </option>
        {% assign dates = rootResource | sparql_query: dates_query %}
        {% for day in dates %}
          <option value="{{ day.ds }}">
            {{ day.ds }}
          </option>
        {% endfor %}
      </select>
      <button type="submit">
        {% if site.language == 'en' %}
          Filter speakers
        {% else %}
          Vortragende filtern
        {% endif %}
      </button>
    </div>
  </form>
</div>
<div class="contact-list">
  <ul>
    {% assign persons = rootResource | sparql_query: persons_query %}
    {% for p in persons %}
      <li>
        {% include components/person.html organizer=p.person  %}
      </li>
    {% endfor %}
  </ul>
</div>
