---
layout: basic
---
{% include strings.html %}

<h1>
    {{ page.rdf | rdf_property: "rdfs:label", site.language }}
</h1>
<p>{{ page.rdf | rdf_property: "dct:description", site.language | markdownify }}</p>
<h2>
  {{str_sponsorhips}}
</h2>
<div class="ce-table ce" role="region" aria-labelledby="ce-table-caption-0" tabindex="0">
  <table>
    {% if site.language == 'en' %}
    <caption id="ce-table-caption-0" class="hideme">
      Packages
    </caption>
      <thead>
        <tr>
          <th scope="col">
            Packages
          </th>
          <th scope="col">
            Gold
          </th>
          <th scope="col">
            Silver
          </th>
          <th scope="col">
            Bronze
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <b>Presentation or Training/Tutorial</b><br>
            Toplevel presentation - 15 min Slot
          <td>
            <br>1
          </td>
          <td>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
            <b>Tickets</b><br>
            Conference tickets included
          </td>
          <td>
            <br>3
          </td>
          <td>
            <br>2
          </td>
          <td>
            <br>1
          </td>
        </tr>
        <tr>
          <td>
            <b>Booth</b><br>
           Booth at Data Week marketplace onsite (1 table (1 x 2m), 2 chairs, power supply)
          </td>
          <td>
          <br> 1
           </td>
          <td>
            <br>1
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
            <b>Marketing material</b><br>
            Placement of own merchandising in the conference bag<br>
            Placement of own material (max. 1 A4 page) in the conference bag<br>
            Placement of own material (max. 1 A4 page) at the reception desk
          </td>
          <td>
            <br>1
            <br>1
            <br>1
          </td>
          <td>
            <br>
            <br>1
            <br>1
          </td>
          <td>
            <br>
            <br>
            <br>1
          </td>
        </tr>
        <tr>
          <td>
            <b>Logo placement</b><br>
            Website / Opening speech<br>
            Logo presentation in the conference area
          </td>
          <td>
            <br>x
            <br>x
          </td>
          <td>
            <br>x
            <br>x
          </td>
          <td>
            <br>x
            <br>
          </td>
        </tr>
        <tr>
          <td>
            <b>Social Media</b><br>
            Posts on sponsors
          <td>
            <br>2
          </td>
          <td>
            <br>1
          </td>
          <td>
            <br>1
          </td>
        </tr>
        <tr>
          <td>
            <b>Press release</b><br>
            Press release mentions
          <td>
            <br>1
          </td>
          <td>
            <br>1
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <th scope="col">
            Sum
          </th>
          <td>
            4,500 €
          </td>
          <td>
            3,500 €
          </td>
          <td>
            2,000 €
          </td>
        </tr>
        <tr>
          <th scope="col">
            Early booking bonus until February 15, 2025
          </th>
          <td>
            3,500 €
          </td>
          <td>
            3,000 €
          </td>
          <td>
            1,000 €
          </td>
        </tr>
      </tbody>
      {% else %}
    <caption id="ce-table-caption-0" class="hideme">
      Pakete
    </caption>
      <thead>
        <tr>
          <th scope="col">
            Pakete
          </th>
          <th scope="col">
            Gold
          </th>
          <th scope="col">
            Silber
          </th>
          <th scope="col">
            Bronze
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <b>Präsentation oder Training/Tutorial</b><br>
            Toplevel Vortrag - 15 min Slot
          <td>
            <br>1
          </td>
          <td>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
            <b>Tickets</b><br>
            Konferenztickets inklusive
          </td>
          <td>
            <br>3
          </td>
          <td>
            <br>2
          </td>
          <td>
            <br>1
          </td>
        </tr>
        <tr>
          <td>
            <b>Informationsstand</b><br>
            (Eigener) Informationsstand mit Materialienauslage (1 Tisch (1 x 2m), 2 Stühle, Stromversorgung)
          </td>
          <td>
            <br>1
          </td>
          <td>
            <br>1
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
            <b>Konferenztasche</b><br>
            Platzierung von eigenem Merchandising in der Konferenztasche<br>
            Platzierung von eigenem Material (max. 1 A4-Seite) in der Konferenztasche<br>
            Platzierung von eigenem Material (max. 1 A4-Seite) beim Empfangstresen
          </td>
          <td>
            <br>1
            <br>1
            <br>1
          </td>
          <td>
            <br>
            <br>1
            <br>1
          </td>
          <td>
            <br>
            <br>
            <br>1
          </td>
        </tr>
        <tr>
          <td>
            <b>Logoplatzierung</b><br>
            Webseite & Eröffnungsrede<br>
            Logopräsentation im Konferenzbereich
          </td>
          <td>
            <br>x
            <br>x
          </td>
          <td>
            <br>x
            <br>x
          </td>
          <td>
            <br>x
            <br>
          </td>
        </tr>
        <tr>
          <td>
            <b>Social Media</b><br>
            Beiträge über Sponsoren
          <td>
            <br>2
          </td>
          <td>
            <br>1
          </td>
          <td>
            <br>1
          </td>
        </tr>
        <tr>
          <td>
            <b>Pressemitteilung</b><br>
            Erwähnung in Pressemitteilung
          <td>
            <br>1
          </td>
          <td>
            <br>1
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <th scope="col">
            Ihre Investition
          </th>
          <td>
            4.500 €
          </td>
          <td>
            3.500 €
          </td>
          <td>
            2.000 €
          </td>
        </tr>
        <tr>
          <th scope="col">
            Frühbucherbonus bis 15.2.2025
          </th>
          <td>
            3.500 €
          </td>
          <td>
            3.000 €
          </td>
          <td>
            1.000 €
          </td>
        </tr>
      </tbody>
      {% endif %}
    </table>
</div>
