---
layout: basic
---
{% assign rootResource = site.rootResource | rdf_get %}
{% assign teams = rootResource | rdf_property: "schema:organizer", nil, true %}
{% include strings.html %}

{% capture persons_query %}
SELECT distinct ?person ?role_name
WHERE {
  <{{ rootResource }}> schema:organizer ?team .
  ?team ?p ?person .

  ?person foaf:name ?person_name .

  OPTIONAL {
      Select distinct ?person ?role_name where {
          ?person a schema:Person ;
            dw:role ?role .
          ?role rdfs:label ?role_name .

    	FILTER(langMatches(lang(?role_name), "{{ site.language }}"))
    }
  }
}
order by ?person_name
{% endcapture %}

{% assign persons = rootResource | sparql_query: persons_query %}
<div class="content-header">
  <h1>
    {{ str_dw_team }}
  </h1>
</div>
<div class="contact-list">
  <ul>
    {% for person in persons %}
      {% assign role = person.person | rdf_property: "dw:role" %}
      {% unless role %}
        <li>
          {% include components/person.html organizer=person.person %}
        </li>
      {% endunless %}
    {% endfor %}
  </ul>
</div>
