---
layout: basic
---
{% assign rootResource = site.rootResource | rdf_get %}
{% include strings.html %}

{% include sections/header_events.html %}

{% capture subEventQuery %}
  SELECT DISTINCT ?event (MIN(?dates) as ?date)
  WHERE {
    ?resourceUri schema:subEvent ?event .
    ?event dct:date ?dates ;
      dw:show true .
  }
  GROUP BY ?event
  ORDER BY ?date
{% endcapture %}

{% assign subEvents = rootResource | sparql_query: subEventQuery %}

<div class="card-list">
  <ul>
    {% for row in subEvents %}
      {% assign slogan = row.event | rdf_property: "schema:slogan", site.language %}
      {% assign abstract = row.event | rdf_property: "schema:abstract", site.language %}
      {% assign dates = row.event | rdf_property: "dct:date", nil, true %}
      <li>
        <div class="card">
          <h2>
            <a href="{{ row.event.render_path | relativize_url }}">
              <span class="highlighted2">{{ row.event | rdf_property: "dw:slug" }}</span><br>
              <span class="xl hideunderline">{{ row.event | rdf_property: "rdfs:label", site.language }}</span>
            </a>
          </h2>
          <p class="dates">
            {% for weekday in dates %}
              <time>
                <strong class="highlighted x1">{{ weekday | localize: "%a" }}</strong><br/>
                <strong>{{ weekday }}</strong>
              </time>
            {% endfor %}
          </p>
          {% if slogan %}<p><em>{{ slogan }}</em></p>{% endif %}
          {% if abstract %}<p class="justify"><small>{{ abstract }}</small></p>{% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
