{% include strings.html %}
<footer class="page-footer">
  <div class="page-footer-inner">
    <nav class="nav-meta" id="hilfsmenue" aria-label="Hilfsmenü">
      <ul>
        <li>
          <a href="https://infai.org/das-institut/impressum/">
            {{ str_imprint }}</a>
        </li>
        <li>
          <a href="/datenschutz/">
            {{ str_dataprotection }}
          </a>
        </li>
        <li>
          <a href="/contact.html">
            {{ str_contact }}
          </a>
        </li>
      </ul>
    </nav>
    <p class="socialmedia">
      <a href="https://youtube.de/@dataqeekleipzig"><svg role="img" focusable="false" aria-hidden="true" height="28" width="42">
          <use xlink:href="/resources/images/socialmedia.svg#youtube"></use>
        </svg> @dataweekleipzig</a> <a href="https://twitter.de/@DataWeekLeipzig"><svg role="img" focusable="false" aria-hidden="true" height="28" width="42">
          <use xlink:href="/resources/images/socialmedia.svg#twitter"></use>
        </svg>@DataWeekLeipzig</a>
    </p>
  </div>
  <div class="page-footer-partner">
    <h2>
      {% if site.language == 'en' %}
        In coorperation with:
      {% else %}
        In Kooperation mit:
      {% endif %}
    </h2>
    <ul>
      <li>
        <a href="index.html#"><img src="/resources/files/logo-stadt-leipzig.png" alt="Logo Stadt Leipzg"></a>
      </li>
      <li>
        <a href="index.html#"><img src="/resources/files/logo-cut.svg" alt="Logo CUT"></a>
      </li>
      <li>
        <a href="index.html#"><img src="/resources/files/logo-kmi.png" alt="Logo KMI"></a>
      </li>
      <li>
        <a href="index.html#"><img src="/resources/files/logo-ogc.png" alt="Logo OGC"></a>
      </li>
    </ul>
  </div>
</footer>
