{% assign rootResource = site.rootResource | rdf_get %}
<aside class="page-hero">
  <h1>
    {% if site.language == 'en' %}
      A data festival for IT enthusiasts! Data Week offers a week-long programme of events focusing on data, digitalisation, artificial intelligence and urban development challenges.
    {% else %}
      Ein Datenfestival für IT-Begeisterte! Die Data Week bietet ein einwöchiges Veranstaltungsprogramm rund um die Themenschwerpunkte Daten, Digitalisierung, Künstliche Intelligenz und Herausforderungen der Stadtentwicklung.
    {% endif %}
  </h1>
  <figure>
    {%- assign size_array = "480 800 1200 1600 1980" | split: " " -%}
    <img class="js-load" data-src="{% relative_link /resources/images/Leipzig.jpg %}" data-sizes="auto"
      data-srcset="
      {%- for size in size_array -%}
      {%- assign link = "/resources/images/Leipzig_" | append: size | append: ".jpg"-%}
      {{ link | relativize_url }} {{ size }}w,
      {%- endfor -%}
      "
      width="2600" height="1300" style="max-width:2600px" alt="@@" />
    <noscript>
      <img src="{% relative_link /resources/images/Leipzig.jpg %}" alt="@@">
    </noscript>
  </figure>
</aside>
