{% include strings.html %}
{% assign rootResource = site.rootResource | rdf_get %}
{% assign cfpResource = "dw25:cfp" | rdf_get %}
<aside class="page-hero">
  <div class="page-hero-text">
    <h1>
      {{str_greeting}}<br/>
    </h1>
    <p>
      <a class="btn2 ripple" href="{{ cfpResource.render_path | relativize_url  }}" style="color: white; border-color: white">{{ cfpResource | rdf_property: "rdfs:label", site.language }}</a>
    </p>
  </div>
  <figure>
    {%- assign size_array = "480 800 1200 1600 1980" | split: " " -%}
    <img class="js-load" data-src="{% relative_link /resources/images/Leipzig.jpg %}" data-sizes="auto"
      data-srcset="
      {%- for size in size_array -%}
      {%- assign link = "/resources/images/Leipzig_" | append: size | append: ".jpg"-%}
      {{ link | relativize_url }} {{ size }}w,
      {%- endfor -%}
      "
      width="2600" height="1300" style="max-width:2600px" alt="@@" />
    <noscript>
      <img src="{% relative_link /resources/images/Leipzig.jpg %}" alt="@@">
    </noscript>
  </figure>
</aside>
