{% assign rootResource = site.rootResource | rdf_get %}
<aside class="page-hero">
  <h1>
    {% if site.language == 'en' %}
      A data festival for IT enthusiasts! Data Week offers a week-long programme of events focusing on data, digitalisation, artificial intelligence and urban development challenges.
    {% else %}
      Ein Datenfestival für IT-Begeisterte! Die Data Week bietet ein einwöchiges Veranstaltungsprogramm rund um die Themenschwerpunkte Daten, Digitalisierung, Künstliche Intelligenz und Herausforderungen der Stadtentwicklung.
    {% endif %}
  </h1>
  <figure>
    <img class="js-load" data-src="/resources/images/Leipzig.jpg" data-sizes="auto"
      data-srcset="/resources/images/Leipzig_480.jpg 480w, /resources/images/Leipzig_800.jpg 800w, /resources/images/Leipzig_1200.jpg 1200w, /resources/images/Leipzig_1600.jpg 1600w, /resources/images/Leipzig_1980.jpg 1980w"
      width="2600" height="1300" style="max-width:2600px" alt="@@" />
    <noscript>
      <img src="/resources/images/Leipzig.jpg" alt="@@">
    </noscript>
  </figure>
</aside>
