<header class="page-header">
  <div class="page-header-inner">
    <div class="page-logo">
      <p class="title">
        Data Week Leipzig <span>2022</span> <strong>26. - 30.6.2023</strong>
      </p>
      <p class="claim">
        Netzwerk- und Austauschplattform zu KI und Daten in Leipzig
      </p>
    </div>
    <nav class="nav-lang" aria-label="Sprachmenü">
      <p lang="en">
        Language:
      </p>
      <ul>
        <li aria-current="true">
          <strong>deutsch</strong>
        </li>
        <li>
          <a href="index.html#en" hreflang="en" lang="en">english</a>
        </li>
      </ul>
    </nav><a href="index.html#navigation" class="hamburger" id="hamburger" data-label-open="Menü öffnen" data-label-close="Menü schließen"
      data-text-open="&lt;svg role='img' focusable='false' aria-hidden='true' height='42' width='42'&gt;&lt;use xlink:href='/resources/images/icons.svg#hamburger'&gt;&lt;/use&gt;&lt;/svg&gt;&lt;span&gt;Menü&lt;/span&gt;"
      data-text-close="&lt;svg role='img' focusable='false' aria-hidden='true' height='42' width='42'&gt;&lt;use xlink:href='/resources/images/icons.svg#close'&gt;&lt;/use&gt;&lt;/svg&gt;" data-focus-helper-text="zum Anfang des Menüs springen"><svg role="img"
        focusable="false" aria-hidden="true" height="28" width="28">
        <use xlink:href="/resources/images/icons.svg#hamburger"></use>
      </svg><span>zum Menü</span></a>
  </div>
</header>
