
<div class="grid">
  <div class="grid-8">
    <h2 class="no-space-bottom">
      {% if site.language == 'en' %}
        Impressions of Data Week Leipzig 2025
      {% else %}
        Impressionen Data Week Leipzig 2025
      {% endif %}
    </h2>
    <p>
      {% if site.language == 'en' %}
      An exciting week of <a href="https://2025.dataweek.de/en">events (June 10-13, 2025)</a> for start-ups, students and representatives from business, science and administration lies behind us. Over 550 participants networked at the New Leipzig City Hall and exchanged ideas on topics such as AI, digitalization and data. Among the more than 90 program items were 27 workshops, 5 training sessions and 75 lectures - supplemented by exciting keynotes, including from Prof. Dr. Miguel D. Mahecha on environmental research and Renate Mitterhuber on the smart city. New formats such as the two-day Thin[gk]athon, the Civic Coding and AIAMO roadshows, the “Gamechanger Data” innovation forum, the start-up consulting service and the “Art of Data” visualization were also a hit. The KMI Transfer Day and the Leipzig Semantic Web Day also took place again in 2025.
      {% else %}
      Eine spannende <a href="https://2025.dataweek.de/">Veranstaltungswoche (10.–13.6.2025)</a> für Startups, Studierende sowie Vertreter:innen aus Wirtschaft, Wissenschaft und Verwaltung liegt hinter uns. Über 550 Teilnehmende vernetzten sich im Neuen Rathaus Leipzig und tauschten sich über Themen wie KI, Digitalisierung und Daten aus. Unter den über 90 Programmpunkten waren 27 Workshops, 5 Trainings und 75 Vorträge – ergänzt durch spannende Keynotes, u. a. von Prof. Dr. Miguel D. Mahecha zur Umweltforschung und Renate Mitterhuber zur Smart City. Auch neue Formate wie der zweitägige Thin[gk]athon, die Roadshows von Civic Coding und AIAMO, das Innovationsforum „Gamechanger Daten“, das Gründer:innen-Beratungsangebot und die Visualisierung „Kunst der Daten“ begeisterten. Mit dabei waren auch 2025 wieder der KMI-Transfertag und der Leipziger Semantic Web Tag. 
      {% endif %}
    </p>
  </div>
</div>
  <div class="grid">
    <div class="grid-12">
      {% include components/slider.html %}
    </div>
    {% comment %}
    <div class="grid-5">
      {% include components/video.html %}
    </div>
    {% endcomment %}
</div>
