
<div class="grid">
  <div class="grid-8">
    <h2 class="no-space-bottom">
      {% if site.language == 'en' %}
        Impressions of Data Week Leipzig 2024
      {% else %}
        Impressionen Data Week Leipzig 2024
      {% endif %}
    </h2>
    <p>
      {% if site.language == 'en' %}
      An exciting week of events (15 - 19 April 2024) for start-ups, students and representatives from business, science and administration lies behind us. Over 530 participants networked in Leipzig's New Town Hall and exchanged ideas on the topics of artificial intelligence, digitalisation and data in the trade fair city. The more than 150 programme items included a total of 26 workshops, 10 training sessions and 77 presentations, in which participants had the opportunity to further develop their own skills and learn new things in the field of data management and AI applications. The daily programme was complemented by five exciting keynote presentations and various networking events in the evenings. The programme also included Data Science Mania, the KMI Transfer Day, the Urban Data Summit, the 12th Leipzig Semantic Web Day, the Health Datathon and the Jugend hackt event.
      {% else %}
      Eine spannende Veranstaltungswoche (15. - 19.4. 2024 ) für Startups, Studierende sowie Vertreterinnen aus Wirtschaft, Wissenschaft und Verwaltung liegt hinter uns. Über 530 Teilnehmende vernetzen sich im Neuen Rathaus Leipzig und tauschten sich in der Messestadt über die Themen künstliche Intelligenz, Digitalisierung und Daten aus. Unter den mehr als 150 Programmpunkten waren insgesamt 26 Workshops, 10 Trainings und 77 Vorträge, in denen die Teilnehmenden die Möglichkeit hatten, ihre eigenen Fähigkeiten weiterzuentwickeln und Neues im Bereich Datenmanagement und KI-Anwendung zu erfahren. Ergänzt wurde das Tagesprogramm durch fünf spannende Keynote-Präsentationen und verschiedene Netzwerkveranstaltungen an den Abenden. Teil des Programms waren auch die Data Science Mania, der KMI-Transfertag, der Urban Data Summit, der 12. Leipziger Semantic Web Tag, der Health Datathon und die Veranstaltung von Jugend hackt.
      {% endif %}
    </p>
  </div>
</div>
  <div class="grid">
    <div class="grid-12">
      {% include components/slider.html %}
    </div>
    {% comment %}
    <div class="grid-5">
      {% include components/video.html %}
    </div>
    {% endcomment %}
</div>
