{% assign rootResource = site.rootResource | rdf_get %}
{% include strings.html %}
{% assign subEvent = rootResource | rdf_property: "schema:subEvent" %}
{% assign events = subEvent.page_url | relativize_url %}
<nav class="nav-main" aria-label="Hauptmenü">
  <ul>
    <li class="{% if events == '.' %}open{% endif %}">
      <a class="{% if events == '.' %}active{% endif %}" href="{{ events }}">
        {{ str_events }}
      </a>
    </li>
    <li class="{% if page.url == '/location' %}open{% endif %}">
      <a class="{% if page.url == '/location' %}active{% endif %}" href="{% relative_link location.html %}.html">
        {{ str_location }}
      </a>
    </li>
    <li class="{% if page.url == '/orgateam' %}open{% endif %}">
      <a class="{% if page.url == '/orgateam' %}active{% endif %}" href="{% relative_link orgateam.html %}.html">
        {{ str_organizer }}
      </a>
    </li>
    <li class="{% if page.url == '/news' %}open{% endif %}">
      <a class="{% if page.url == '/news' %}active{% endif %}" href="{% relative_link news.html %}.html">
        {{ str_news }}
      </a>
    </li>
  </ul>
</nav>

<div class="nav-mobil" id="navigation">
  <nav class="nav-lang-mobil" aria-label="Sprachmenü">
    <ul>
      <li aria-current="true">
        <strong>deutsch</strong>
      </li>
      <li>
        <a href="index.html/en" hreflang="en" lang="en">english</a>
      </li>
    </ul>
  </nav>
  <nav class="nav-sitemap" aria-label="Mobilmenü">
    <ul>
      <li>
        <a href="{{ subEvent.page_url | relativize_url }}">{{ str_events }}</a>
      </li>
      <li>
        <a href="{% relative_link location.html %}.html">{{ str_location }}</a>
      </li>
      <li>
        <a href="{% relative_link orgateam.html %}.html">{{ str_organizer }}</a>
      </li>
      <li>
        <a href="{% relative_link news.html %}.html">{{ str_news }}</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="https://infai.org/das-institut/impressum/">{{ str_imprint }}</a>
      </li>
      <li>
        <a href="datenschutz.html">{{ str_dataprotection }}</a>
      </li>
      <li>
        <a href="kontakt.html">{{ str_contact }}</a>
      </li>
    </ul>
  </nav>
</div>
