{% assign rootResource = site.rootResource | rdf_get %}
{% include strings.html %}
{% capture eventsQuery %}
SELECT ?e ?date
WHERE {
  <{{ rootResource }}> schema:subEvent ?e .
  ?e schema:date ?date .
} ORDER BY ?date
{% endcapture %}
{% assign results = page.rdf | sparql_query: eventsQuery %}
{% assign result = results | first %}
{% assign event = result.e.page_url | relativize_url %}
<nav class="nav-main" aria-label="Hauptmenü">
  <ul>
    <li class="{% if event == '.' %}open{% endif %}">
      <a class="{% if event == '.' %}active{% endif %}" href="{{ event }}">
        {{ str_events }}
      </a>
    </li>
    <li class="{% if page.url == '/location' %}open{% endif %}">
      <a class="{% if page.url == '/location' %}active{% endif %}" href="{% relative_link location.html %}.html">
        {{ str_location }}
      </a>
    </li>
    <li class="{% if page.url == '/orgateam' %}open{% endif %}">
      <a class="{% if page.url == '/orgateam' %}active{% endif %}" href="{% relative_link orgateam.html %}.html">
        {{ str_organizer }}
      </a>
    </li>
    <li class="{% if page.url == '/news' %}open{% endif %}">
      <a class="{% if page.url == '/news' %}active{% endif %}" href="{% relative_link news.html %}.html">
        {{ str_news }}
      </a>
    </li>
  </ul>
</nav>

<div class="nav-mobil" id="navigation">
  {% include components/lang_switch.html mode="mobile" %}
  <nav class="nav-sitemap" aria-label="Mobilmenü">
    <ul>
      <li class="{% if event == '.' %}open{% endif %}">
        <a class="{% if event == '.' %}active{% endif %}" href="{{ event }}">
          {{ str_events }}
        </a>
      </li>
      <li class="{% if page.url == '/location' %}open{% endif %}">
        <a class="{% if page.url == '/location' %}active{% endif %}" href="{% relative_link location.html %}.html">
          {{ str_location }}
        </a>
      </li>
      <li class="{% if page.url == '/orgateam' %}open{% endif %}">
        <a class="{% if page.url == '/orgateam' %}active{% endif %}" href="{% relative_link orgateam.html %}.html">
          {{ str_organizer }}
        </a>
      </li>
      <li class="{% if page.url == '/news' %}open{% endif %}">
        <a class="{% if page.url == '/news' %}active{% endif %}" href="{% relative_link news.html %}.html">
          {{ str_news }}
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="https://infai.org/das-institut/impressum/">{{ str_imprint }}</a>
      </li>
      <li>
        <a href="{% relative_link datenschutz/index.md %}">{{ str_dataprotection }}</a>
      </li>
      <li>
        <a href="{% relative_link contact/index.html %}">{{ str_contact }}</a>
      </li>
    </ul>
  </nav>
</div>
