{% assign rootResource = site.rootResource | rdf_get %}
{% include strings.html %}

{% capture eventsQuery %}
  SELECT DISTINCT ?e (MIN(?dates) as ?date)
  WHERE {
    ?resourceUri schema:subEvent ?e ;
        schema:date ?dates .
  }
  GROUP BY ?e
  ORDER BY ?date
{% endcapture %}
{% assign events = rootResource | sparql_query: eventsQuery %}

{% assign isEvent = false %}

{% for r in events %}
  {% if r.e.page_url == page.url %}
    {% assign isEvent = true %}
  {% endif %}
{% endfor %}

{% assign current_page = page.path | relativize_url %}
{% assign current_page_index = current_page | slice: 0, 5 | join %}
{% if current_page_index == 'index' %}
{% assign current_page = "." %}
{% endif %}

{% assign events_link = "events.html" | relativize_url %}
{% assign location_link = "location.html" | relativize_url %}
{% assign orgateam_link = "orgateam.html" | relativize_url %}
{% assign news_link = "news.html" | relativize_url %}
{% assign datenschutz_link = "datenschutz/" | relativize_url %}
{% assign contact_link = "contact/" | relativize_url %}

<nav class="nav-main" aria-label="Hauptmenü">
  <ul>
    {% include components/menu_entry.html active=isEvent current=current_page link=events_link label=str_events%}
    {% include components/menu_entry.html current=current_page link=location_link label=str_location %}
    {% include components/menu_entry.html current=current_page link=orgateam_link label=str_organizer %}
    {% include components/menu_entry.html current=current_page link=news_link label=str_news %}
  </ul>
</nav>

<div class="nav-mobil" id="navigation">
  {% include components/lang_switch.html mode="mobile" %}
  <nav class="nav-sitemap" aria-label="Mobilmenü">
    <ul current="{{current_page}}" page="{{page.path}}" current_i="{{current_page_index}}">
      {% include components/menu_entry.html active=isEvent current=current_page link=events_link label=str_events %}
      {% include components/menu_entry.html current=current_page link=location_link label=str_location %}
      {% include components/menu_entry.html current=current_page link=orgateam_link label=str_organizer %}
      {% include components/menu_entry.html current=current_page link=news_link label=str_news %}
    </ul>
    <ul>
      <li>
        <a href="https://infai.org/das-institut/impressum/">{{ str_imprint }}</a>
      </li>
      {% include components/menu_entry.html current=current_page link=datenschutz_link label=str_dataprotection %}
      {% include components/menu_entry.html current=current_page link=contact_link label=str_contact %}
    </ul>
  </nav>
</div>
