<div class="sponsors">
  <h2>
    <span>Data Week</span> Sponsoren
  </h2>
  <ul>
    <li>
      <a href="index.html#"><img src="/resources/files/sponsor-appplant.png" alt="Logo appPlant"></a>
    </li>
    <li>
      <a href="index.html#"><img src="/resources/files/sponsor-datev.svg" alt="Logo Datev"></a>
    </li>
    <li>
      <a href="index.html#"><img src="/resources/files/sponsor-eccenca.svg" alt="Logo eccenca"></a>
    </li>
    <li>
      <a href="index.html#"><img src="/resources/files/sponsor-stackfuel.png" alt="Logo stackfuel"></a>
    </li>
    <li>
      <a href="index.html#"><img src="/resources/files/sponsor-vistex.png" alt="Logo Vistex"></a>
    </li>
  </ul>
</div>
