---
layout: subpage
---

{% assign rootResource = site.rootResource | rdf_get %}

{% capture peopleQuery %}
select distinct ?person ?name {
  ?resourceUri schema:subEvent ?event .
  ?event schema:subEvent*/schema:performer ?person .
  ?person foaf:name ?name
}
order by ?name ?person
{% endcapture %}

{% capture subEventQueryTpl %}
select distinct ?event ?label {
  <?rootResource> schema:subEvent ?event .
  ?event schema:subEvent*/schema:performer ?resourceUri ;
  rdfs:label ?label .
  filter(langmatches(lang(?label), '?lang'))
}
order by ?event
{% endcapture %}
{% assign subEventQuery = subEventQueryTpl | replace: "?rootResource", rootResource | replace: "?lang", site.language %}

{% assign people = rootResource | sparql_query: peopleQuery %}
{% for row in people %}
<div style="clear: both; margin: 1em auto">
{% include person_inline.html person=row.person %}<br/>
{% assign sub_events = row.person | sparql_query: subEventQuery %}
{% for event_row in sub_events %}
<span class="date"><a href="{{event_row.event.page_url | relativize_url}}">{{event_row.label}}</a></span>
{% endfor %}
</div>
{% endfor %}
