{%- assign class = include.class -%}
{%- assign resource = include.resource -%}
{%- assign src = include.src -%}
{%- assign alt = include.alt -%}
{%- unless class -%}
{%- assign class = "" -%}
{%- endunless -%}
{%- if resource.iri -%}
{%- assign value = resource | rdf_property: "rdf:value" -%}
{%- if value -%}
{%- assign src = value -%}
{%- assign alt = resource | rdf_property: "dct:description" -%}
{%- else -%}
{%- assign src = resource.iri -%}
{%- endif -%}
{%- else -%}
{%- assign src = resource -%}
{%- endif -%}
<img src="{{ src | relativize_url }}" alt="{{ alt }}" class="{{ class }}"/>
