{%- assign performer = include.person -%}

{%- assign name = performer | rdf_property: "skos:prefLabel" -%}
{%- unless name -%}
  {%- assign name = performer | rdf_property: "foaf:name" -%}
{%- endunless -%}
{%- assign description = performer | rdf_property: "dct:description", site.language -%}
{%- unless description -%}
  {%- assign description = performer | rdf_property: "dct:description" -%}
{%- endunless -%}
{%- assign bio = performer | rdf_property: "gnd:biographicalOrHistoricalInformation", site.language -%}
{%- unless bio -%}
  {%- assign bio = performer | rdf_property: "gnd:biographicalOrHistoricalInformation" -%}
{%- endunless -%}
{%- assign affiliation = performer | rdf_property: "dw:prefAffiliation" -%}
{%- unless affiliation -%}
  {%- assign affiliation = performer | rdf_property: "schema:affiliation" -%}
{%- endunless -%}
{%- assign homepage = performer | rdf_property: "foaf:homepage" -%}

{%- if homepage -%}
  <a href="{{ homepage }}">{{ name }}</a>
{%- else -%}
  {{ name }}
{%- endif -%}
{%- if description -%}
  {{ description | markdownify | remove: "<p>" | remove: "</p>" | strip | prepend: ", " }}
{%- endif -%}
{%- if affiliation -%}
  , {% assign homepage = affiliation | rdf_property: "foaf:homepage" -%}
  {%- if homepage -%}
    <a href="{{ homepage }}">
  {%- endif-%}
  {% include label.html iri = affiliation.iri %}
  {%- if homepage -%}
    </a>
  {%- endif-%}
{%- endif -%}
