{% assign organizer = include.organizer %}
{% capture name %}{% include label.html iri = organizer.iri %}{% endcapture %}
{% assign homepage = organizer | rdf_property: "foaf:homepage" %}
{% assign depiction = organizer | rdf_property: "foaf:depiction" %}
{% assign affiliations = organizer | rdf_property: "schema:affiliation", nil, true %}
{% assign groups_foaf = organizer | rdf_property: "foaf:member", nil, true %}
{% if groups_foaf %}
{% assign affiliations = affiliations | concat: groups_foaf %}
{% endif %}
{% assign groups_schema = organizer | rdf_property: "schema:memberOf", nil, true %}
{% if groups_schema %}
{% assign affiliations = affiliations | concat: groups_schema %}
{% endif %}
<div class="lswt-card">
  {% if depiction %}
    <img class="rounded" src="{{ depiction | relativize_url }}" alt="{{ name }}">
  {% else %}
    <img class="rounded" src="{% relative_link /images/people/placeholder.svg %}" alt="{{ name }}">
  {% endif %}
  <h5 class="lswt-card-title">
  {% if homepage %}
    <a href="{{ homepage }}">{{ name }}</a>
  {% else %}
  {{ name }}
  {% endif %}
  </h5>
  <p>
    {% for affiliation in affiliations %}
    {% assign depiction = affiliation | rdf_property: "site:small_logo" %}
    {% unless depiction %}
      {% assign depiction = affiliation | rdf_property: "foaf:logo" %}
    {% endunless %}
    {% assign affiliation_label = affiliation | rdf_property: "rdfs:label" %}
    {% if depiction %}
    <div class="logo-container logo-3rem">
      <a href="{{ affiliation | rdf_property: "foaf:homepage" }}">{% include img.html resource=depiction alt=affiliation_label class='logo' %}</a>
    </div>
    {% else %}
    <a href="{{ affiliation | rdf_property: "foaf:homepage" }}">{{ affiliation_label }}</a>{% unless forloop.last%}, {% endunless %}
    {% endif %}
    {% endfor %}
  </p>
</div>
