{% assign location = rootResource | rdf_property: "schema:location" %}
{% if location %}
<h2 id="#Location">{{ location | rdf_property: "rdfs:label", site.language }}</h2>

{% include address.html location=location %}

{% assign mapboxDiff = 0.00223964452743 %}
{% assign long = location | rdf_property: "geo:long" %}
{% assign lat = location | rdf_property: "geo:lat" %}
{% if site.language == "en" %}
{% assign showABiggerMap = "Show a bigger Map" %}
{% else %}
{% assign showABiggerMap = "Größere Karte anzeigen" %}
{% endif %}
<iframe frameborder="0" height="350" marginheight="0" marginwidth="0" scrolling="no" src="https://www.openstreetmap.org/export/embed.html?bbox={{ long | minus: mapboxDiff }}%2C{{ lat | minus: mapboxDiff }}%2C{{ long | plus: mapboxDiff }}%2C{{ lat | plus: mapboxDiff }}&amp;layer=mapnik&amp;marker={{ lat }}%2C{{ long }}" style="border: 1px solid black" width="100%"></iframe>
<p><small><a href="https://www.openstreetmap.org/?mlat={{ lat }}&amp;mlon={{ long }}#map=19/{{ lat }}/{{ long }}">{{ showABiggerMap }}</a></small></p>
{% endif %}
