{% assign enableSubEvents = include.enableSubEvents %}
{% assign style = include.style %}
{% unless style %}
{% assign style = "extended" %}
{% endunless %}
{% assign property = include.property %}
{% unless property %}
{% assign property = "schema:organizer" %}
{% endunless %}
{% assign organizers = rootResource | rdf_property: property %}
{% if organizers %}
    <h2>{{ organizers | rdf_property: "rdfs:label", site.language }}</h2>

    {% assign organizers_description = organizers | rdf_property: "dct:description", site.language %}
    <p>{{ organizers_description | markdownify }}</p>

    {% assign organizerTeam = organizers | rdf_container %}

    {% include organizers.html organizers=organizerTeam style=style %}

    {% if enableSubEvents %}
    {% assign subEvents = rootResource | rdf_property: "schema:subEvent", nil, true %}
    {% for subEvent in subEvents %}
    {% assign subOrganizers = subEvent | rdf_property: "schema:organizer" %}
    {% if subOrganizers %}
    <h3 class="display-5">{{ subOrganizers | rdf_property: "rdfs:label", site.language }}</h3>
    {% assign subOrganizersTeam = subOrganizers | rdf_container %}
    {% include organizers.html organizers=subOrganizersTeam %}
    {% endif %}
    {% endfor %}
    {% endif %}
{% endif %}
