

{% if site.language == 'en' %}
<h2>The Week</h2>
<p><a href="{{ "talks" | relativize_url }}"><button class="btn btn-primary m-auto">Program Overview</button></a></p>
<p>Please click on the respective event names below to read the detailed program.</p>
{% else %}
<h2>Die Woche</h2>
<p><a href="{{ "talks" | relativize_url }}"><button class="btn btn-primary m-auto">Programm Übersicht</button></a></p>
<p>Bitte klicken Sie nachfolgend auf die jeweiligen Veranstaltungsnamen um das detaillierte Programm der Veranstaltungstage einsehen zu können.</p>
{% endif %}

{% capture subEventQueryTpl %}
select ?event ?date ?label {
  ?resourceUri schema:subEvent ?event .
  ?event schema:date ?date ;
         rdfs:label ?label .
  filter(langmatches(lang(?label), '?lang'))
}
order by ?date
{% endcapture %}
{% assign subEventQuery = subEventQueryTpl | replace: "?lang", site.language %}

{% assign subEvents = rootResource | sparql_query: subEventQuery %}
<dl>
{% for row in subEvents %}
<dd><span class="date">{{ row.date }}</span> <a class="highlight" href="{{ row.event.page_url | relativize_url }}">{{ row.label }}</a></dd>
{% endfor %}
</dl>
