{% if site.language == 'en' %}
  {% assign str_location = "Location" %}
  {% assign str_organizer = "Organizational Team" %}
  {% assign str_general_chair = "General Chair" %}
  {% assign str_dw_team = "DataWeek Team" %}
  {% assign str_news = "News" %}
  {% assign str_events = "Events" %}
  {% assign str_tracks = "Tracks" %}
  {% assign str_imprint = "Imprint" %}
  {% assign str_dataprotection = "Data protection" %}
  {% assign str_contact = "Contact" %}
  {% assign str_program_header = "The Program" %}
  {% assign str_event_archive = "Event-Archive" %}
  {% assign str_download_call = "Download Call" %}
  {% assign str_alt_named = "Image of " %}
  {% assign str_alt_placeholder = "Here could be an image of" %}
  {% assign str_host = "Chair:" %}
  {% assign str_break = "break" %}
  {% assign str_mobile_menu = "mobile menu" %}
  {% assign str_main_menu = "main menu" %}
  {% assign str_sub1_menu = "1st level submenu" %}
  {% assign str_sub2_menu = "2nd level submenu" %}
  {% assign str_img_townhall_title = "New Town Hall Leipzig (cc by-sa wikipedia user Appaloosa)" %}
  {% assign str_img_townhall_alt = "New Town Hall" %}
  {% assign str_img_townhall_description = "Overall view from south New Town Hall, 2010" %}
  {% assign str_link_wikipedia_townhall = "https://en.wikipedia.org/wiki/New_Town_Hall_(Leipzig)" %}
  {% assign str_homepage = "Homepage" %}
  {% assign str_program_under_construction = "The program is still under construction. Please check back regularly." %}
  {% assign str_get_a_ticket = "Get a Ticket" %}
  {% assign str_greeting = "A data festival for IT enthusiasts! Data Week offers a week-long programme of events focusing on data, digitalisation, artificial intelligence and urban development challenges." %}
  {% assign str_jump_content = "to the content" %}
  {% assign str_jump_aux_menu = "to the auxiliary menu" %}
  {% assign str_jump_top = "jump to the top" %}
  {% assign str_jump_top_title = "to the top" %}
  {% assign str_dayticket = "Day Ticket" %}
  {% assign str_weekticket = "Full Week" %}
  {% assign str_pricetable = "Tickets and Options" %}
  {% assign str_price = "Price" %}
  {% assign str_personal_webpage = "personal Webpage" %}
  {% assign str_personal_email = "end an email" %}
  {% assign str_personal_phone = "call" %}
  {% assign str_personal_mastodon = "Mastodon profile" %}
  {% assign str_personal_xing = "Xing profile" %}
  {% assign str_personal_linkedin = "LinkedIn profile" %}
  {% assign str_personal_twitter = "Twitter profile" %}
  {% assign str_sidevents = "Side Events" %}
  {% assign str_supported = "With the friendly support of" %}
  {% assign str_welcome = "Welcome to the Data Week 2025" %}
  {% assign str_stream_a = "Stream A" %}
  {% assign str_stream_b = "Stream B" %}
  {% assign str_subscribe_ical_program = "Subscribt to programm calendar" %}
  {% assign str_subscribe_ical_day = "Subscribt to day calendar" %}
  {% assign str_recording = "Recording" %}
  {% assign str_monday = "Monday" %}
  {% assign str_tuesday = "Tuesday" %}
  {% assign str_wednesday = "Wednesday" %}
  {% assign str_thursday = "Thursday" %}
  {% assign str_friday = "Friday" %}
{% else %}
  {% assign str_location = "Veranstaltungsort" %}
  {% assign str_organizer = "Organisationsteam" %}
  {% assign str_general_chair = "General Chair" %}
  {% assign str_dw_team = "DataWeek Team" %}
  {% assign str_news = "Neuigkeiten" %}
  {% assign str_events = "Veranstaltungen" %}
  {% assign str_tracks = "Tracks" %}
  {% assign str_imprint = "Impressum" %}
  {% assign str_dataprotection = "Datenschutz" %}
  {% assign str_contact = "Kontakt" %}
  {% assign str_program_header = "Das Programm" %}
  {% assign str_event_archive = "Event-Archiv" %}
  {% assign str_download_call = "Aufruf Herunterladen" %}
  {% assign str_alt_named = "Bild von " %}
  {% assign str_alt_placeholder = "Hier wäre ein Bild von" %}
  {% assign str_host = "Chair:" %}
  {% assign str_break = "Pause" %}
  {% assign str_mobile_menu = "Mobilmenü" %}
  {% assign str_main_menu = "Mauptmenü" %}
  {% assign str_sub1_menu = "Untermenü Stufe 1" %}
  {% assign str_sub2_menu = "Untermenü Stufe 2" %}
  {% assign str_img_townhall_title = "Neues Rathaus Leipzig (cc by-sa wikipedia user Appaloosa)" %}
  {% assign str_img_townhall_alt = "Neues Rathaus Leipzig" %}
  {% assign str_img_townhall_description = "Gesamtansicht von Süden Neue Rathaus in Leipzig, 2010" %}
  {% assign str_link_wikipedia_townhall = "https://de.wikipedia.org/wiki/Neues_Rathaus_(Leipzig)" %}
  {% assign str_homepage = "Startseite" %}
  {% assign str_program_under_construction = "Das Programm befindet sich noch im Aufbau. Bitte sehen Sie regelmäßig nach." %}
  {% assign str_get_a_ticket = "Ticket kaufen" %}
  {% assign str_greeting = "Ein Datenfestival für IT-Begeisterte! Die Data Week bietet ein einwöchiges Veranstaltungsprogramm rund um die Themenschwerpunkte Daten, Digitalisierung, künstliche Intelligenz und Herausforderungen der Stadtentwicklung." %}
  {% assign str_jump_content = "zum Inhalt" %}
  {% assign str_jump_aux_menu = "zum Hilfsmenü" %}
  {% assign str_jump_top = "zum Seitenanfang springen" %}
  {% assign str_jump_top_title = "zum Seitenanfang" %}
  {% assign str_dayticket = "Tagesticket" %}
  {% assign str_weekticket = "Wochenticket" %}
  {% assign str_pricetable = "Preisübersicht" %}
  {% assign str_price = "Preis" %}
  {% assign str_personal_webpage = "persönliche Webseite" %}
  {% assign str_personal_email = "E-Mail schreiben" %}
  {% assign str_personal_phone = "Anrufen" %}
  {% assign str_personal_mastodon = "Profil bei Mastodon" %}
  {% assign str_personal_xing = "Profil bei Xing" %}
  {% assign str_personal_linkedin = "Profil bei LinkedIn" %}
  {% assign str_personal_twitter = "Profil bei Twitter" %}
  {% assign str_sidevents = "Side Events" %}
  {% assign str_supported = "Mit freundlicher Unterstützung durch" %}
  {% assign str_welcome = "Willkommen zur Data Week 2025" %}
  {% assign str_stream_a = "Kanal A" %}
  {% assign str_stream_b = "Kanal B" %}
  {% assign str_subscribe_ical_program = "Programm als Kalender abonnieren" %}
  {% assign str_subscribe_ical_day = "Tag als Kalender abonnieren" %}
  {% assign str_recording = "Aufzeichnung" %}
  {% assign str_monday = "Montag" %}
  {% assign str_tuesday = "Dienstag" %}
  {% assign str_wednesday = "Mittwoch" %}
  {% assign str_thursday = "Donnerstag" %}
  {% assign str_friday = "Freitag" %}
{% endif %}
