{% if site.language == 'en' %}
  {% assign str_location = "Location" %}
  {% assign str_organizer = "Originazation Team" %}
  {% assign str_news = "News" %}
  {% assign str_events = "Events" %}
  {% assign str_imprint = "Imprint" %}
  {% assign str_dataprotection = "Data protection" %}
  {% assign str_contact = "Contact" %}
  {% assign str_event_archive = "Event-Archive" %}
{% else %}
  {% assign str_location = "Veranstaltungsort" %}
  {% assign str_organizer = "Organisationsteam" %}
  {% assign str_news = "Neuigkeiten" %}
  {% assign str_events = "Veranstaltungen" %}
  {% assign str_imprint = "Impressum" %}
  {% assign str_dataprotection = "Datenschutz" %}
  {% assign str_contact = "Kontakt" %}
  {% assign str_event_archive = "Event-Archiv" %}
{% endif %}
