{% if site.language == 'en' %}
  {% assign str_location = "Location" %}
  {% assign str_organizer = "Organization Team" %}
  {% assign str_news = "News" %}
  {% assign str_events = "Events" %}
  {% assign str_imprint = "Imprint" %}
  {% assign str_dataprotection = "Data protection" %}
  {% assign str_contact = "Contact" %}
  {% assign str_event_archive = "Event-Archive" %}
  {% assign str_download_call = "Download Call" %}
  {% assign str_alt_named = "Image of " %}
  {% assign str_alt_placeholder = "Here could be an image of" %}
  {% assign str_clock = "o'clock" %}
  {% assign str_host = "hosted by" %}
{% else %}
  {% assign str_location = "Veranstaltungsort" %}
  {% assign str_organizer = "Organisationsteam" %}
  {% assign str_news = "Neuigkeiten" %}
  {% assign str_events = "Veranstaltungen" %}
  {% assign str_imprint = "Impressum" %}
  {% assign str_dataprotection = "Datenschutz" %}
  {% assign str_contact = "Kontakt" %}
  {% assign str_event_archive = "Event-Archiv" %}
  {% assign str_download_call = "Aufruf Herunterladen" %}
  {% assign str_alt_named = "Bild von " %}
  {% assign str_alt_placeholder = "Hier wäre ein Bild von" %}
  {% assign str_clock = "Uhr" %}
  {% assign str_host = "Gastgeber:" %}
{% endif %}
