/* Ticket button */
.btn2-patch {
  border: 0.125rem #17214c solid;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.75rem;
  margin: 0 0 0 0;
  padding: 0.4375rem 1rem 0.4375rem 1rem;
  position: relative;
  text-decoration: none;
  text-transform: none;

  background-color: #3da6dc;
  color: #17214c;
  border-radius: 1.3125rem;
}

/*
lightblue: #3da6dc
darkblue: #17214c
orange: #ff7600
*/
@keyframes ripple-keyframes {
  0% {
    background: #17214c radial-gradient(circle, transparent 1%, #17214c 1%) center/0%;
    background-color: #ff7600;
    background-size: 100%;
  }
  33% {
    background: #17214c radial-gradient(circle, transparent 1%, #17214c 1%) center/15000%;
    background-color: #ff7600;
  }

  33.01% {
    background: #ff7600 radial-gradient(circle, transparent 1%, #ff7600 1%) center/0%;
    background-color: #3da6dc;
    background-size: 100%;
  }
  66% {
    background: #ff7600 radial-gradient(circle, transparent 1%, #ff7600 1%) center/15000%;
    background-color: #3da6dc;
  }

  66.01% {
    background: #3da6dc radial-gradient(circle, transparent 1%, #3da6dc 1%) center/0%;
    background-color: #17214c;
    background-size: 100%;
  }
  100% {
    background: #3da6dc radial-gradient(circle, transparent 1%, #3da6dc 1%) center/15000%;
    background-color: #17214c;
  }
}

/* Ripple effect */
.ripple {
  background-position: center;
  animation: ripple-keyframes 10s linear infinite;
}

/* Organization team contact logos */
.contact ul.logos img {
  width: 4.5rem!important;
  height: auto!important;
}

.contact ul.logos {
  height: 5rem;
}

/* Data Week page logo size and position */
.page-logo img {
  height: 2.625rem;
  left: -.52em;
  top: .15rem;
  position: relative;
}

/* Timetable floorplan (overview) */
.timetable-floorplan tr td.floorplan-session {
  background: #e8f7fd;
  border: .1rem solid white;
  border-radius: .6rem;
}
