{%- assign resource = include.resource -%}
{%- assign src = include.src -%}
{%- assign alt = include.alt -%}
{%- assign flavor = include.flavor -%}
{%- if resource.iri -%}
  {%- assign value = resource | rdf_property: "rdf:value" -%}
  {%- if flavor == 'contrast' -%}
    {%- assign value_flavor = resource | rdf_property: "dw:contrastFlavor" -%}
    {%- if value_flavor -%}
      {%- assign value = value_flavor -%}
    {%- endif -%}
  {%- endif -%}
  {%- if value -%}
    {%- assign src = value -%}
    {%- assign alt = resource | rdf_property: "dct:description" -%}
  {%- else -%}
    {%- assign src = resource.iri -%}
  {%- endif -%}
{%- else -%}
  {%- if resource -%}
    {%- assign src = resource -%}
  {%- endif -%}
{%- endif -%}
{%- assign simple = include.simple -%}
{%- if simple -%}
  <img src="{{ src | relativize_url }}" alt="{{ alt }}">
{%- else -%}
  <img class="js-load"
    data-src="{{ src | relativize_url }}"
    data-sizes="auto"
    data-srcset="{{ src | relativize_url }} 120w"
    width="auto"
    height="480px"
    style="max-width:480px"
    alt="{{ alt }}" />
{%- endif -%}
