{%- assign incl_mode = include.mode -%}
{%- if incl_mode == "mobile" -%}
{%- assign class = "nav-lang-mobil" -%}
{%- else -%}
{%- assign class = "nav-lang" -%}
{%- endif -%}
{%- capture languages -%}
deutsch,english
{%- endcapture -%}
{%- capture lang_isos -%}
de,en
{%- endcapture -%}
{%- capture lang_paths -%}
,/en
{%- endcapture -%}
{% assign languages_array = languages | strip | split: "," %}
{% assign lang_isos_array = lang_isos | strip | split: "," %}
{% assign lang_paths_array = lang_paths | strip | split: "," %}

{% if page.rdf %}
{% assign page_url = page.rdf.render_path %}
{% else %}
{% assign page_url = page.path %}
{% endif %}
<nav class="{{ class }}" aria-label="Sprachmenü">
  {%- if incl_mode != "mobile" -%}
  <p lang="en">Language:</p>
  {%- endif -%}
  <ul>
    {% for lang_string in languages_array %}
      {% if page.name == "index.html" %}
      {% assign html = "" %}
      {% else %}
      {% if page.name == "index.md" %}
      {% assign html = "" %}
      {% else %}
      {% assign html = ".html" %}
      {% endif %}
      {% endif %}
      {% assign lang = lang_string | slice: 0, 2 %}
      {% if lang == site.language %}
        <li aria-current="true">
          <strong>{{ lang_string }}</strong>
        </li>
      {% else %}
        <li>
          <a href="{{ lang_paths_array[forloop.index0] }}{{ page_url }}" hreflang="{{ lang_isos_array[forloop.index0] }}" lang="{{ lang_isos_array[forloop.index0] }}">{{ lang_string }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
