{% assign rootResource = site.rootResource | rdf_get %}
{% include strings.html %}

{% assign menuResource = rootResource | rdf_property: "void:rootResource" %}

{% if page.rdf %}
  {% assign current_page = page.rdf.render_path | relativize_url %}
{% else %}
  {% assign current_page = page.path | relativize_url %}
{% endif %}

{% capture subMenuQuery %}
select distinct ?entry {
  {
    bind(<{{page.rdf}}> as ?entry)
    <{{menuResource.iri}}> ?cmprop_1st ?entry .
    bind(1 as ?level)
  } union {
    <{{menuResource.iri}}> ?cmprop_1st ?entry .
    ?entry ?cmprop_2nd <{{page.rdf}}> .
    bind(2 as ?level)
  } union {
    <{{menuResource.iri}}> ?cmprop_1st ?entry .
    ?entry ?cmprop_2nd ?sub_entry .
    ?sub_entry ?cmprop_3rd <{{page.rdf}}> .
    bind(3 as ?level)
  }
  ?cmprop_1st a rdfs:ContainerMembershipProperty .
  ?cmprop_2nd a rdfs:ContainerMembershipProperty .
  ?cmprop_3rd a rdfs:ContainerMembershipProperty .
} order by ?level limit 1
{% endcapture %}

{% assign selected_res = rootResource | sparql_query: subMenuQuery %}
{% assign current_super_resource = nil %}
{% if selected_res.first %}
  {% assign current_super_resource = selected_res.first.entry %}
{% endif %}

{% assign events_iri = "dw26:tracks" | rdf_get %}
{% assign events = events_iri | rdf_container %}

{% capture events_submenu %}
<ul>
{% for event in events %}
  {% capture weekday_string -%}{%- include components/list_inline.html sub=event pred="dct:date" variant="date" format="%a" -%}{%- endcapture %}
  {% assign weekday_string = weekday_string | strip %}
  {% assign event_label = event | rdf_property: "dw:slug" | append: " (" | append: weekday_string | append: ")" %}
  {% assign event_link = event.render_path | relativize_url %}
  {% include components/menu_sub_entry.html current=current_page link=event_link label=event_label %}
{% endfor %}
</ul>
{% endcapture %}

{% assign menu = menuResource | rdf_container %}

<nav class="nav-main" aria-label="{{ str_main_menu }}">
  <ul>
    {% for entry in menu %}
      {% assign active = false %}
      {% if entry == current_super_resource %}
        {% assign active = true %}
      {% endif %}
      {% assign dateCondition = entry | rdf_property: "dw:dateCondition" %}
      {% assign menuHighlight = entry | rdf_property: "dw:menuHighlight" %}
      {%- assign show = true -%}
      {% if dateCondition %}
        {%- assign today = "now" | date: "%Y-%m-%d" -%}
        {%- assign show = false -%}
        {% for condition in dateCondition %}
          {%- if today == condition -%}
            {%- assign show = true -%}
          {%- endif -%}
        {% endfor %}
      {% endif %}
      {%- if show -%}
        {% include components/menu_main_entry.html active=active current=current_page resource=entry submenu="" menuHighlight=menuHighlight %}
      {%- endif -%}
    {% endfor %}
  </ul>
</nav>

<div class="nav-mobil" id="navigation">
  {% include components/lang_switch.html mode="mobile" %}
  <nav class="nav-sitemap" aria-label="{{ str_mobile_menu }}">
    <ul page="{{page.path}}" current_i="{{current_page_index}}">
      {% for entry in menu %}
        {% assign submenu = "" %}
        {% assign isNavigation = entry | sparql_query: "select ?entity { ?entity rdf:type site:Navigation . filter(?entity = ?resourceUri) }" %}
        {% if entry == events_iri %}
          {% assign submenu = events_submenu %}
        {% elsif isNavigation.first %}
          {% assign sub_menu = entry | rdf_container %}
          {% if sub_menu.first %}
            {% capture submenu %}
      <ul>
              {% for sub_entry in sub_menu %}
                {% include components/menu_sub_entry.html current=current_page resource=sub_entry submenu="" %}
              {% endfor %}
      </ul>
            {% endcapture %}
          {% endif %}
        {% endif %}

        {% include components/menu_sub_entry.html current=current_page resource=entry submenu=submenu %}
      {% endfor %}
    </ul>
    <ul>
      <li>
        <a href="https://infai.org/das-institut/impressum/">{{ str_imprint }}</a>
      </li>
      {% assign datenschutz = "<https://2024.dataweek.de/datenschutz/>" | rdf_get %}
      {% assign team = "<https://2024.dataweek.de/team>" | rdf_get %}
      {% assign contact = "<https://2024.dataweek.de/contact/>" | rdf_get %}

      {% include components/menu_sub_entry.html current=current_page resource=datenschutz %}
      {% include components/menu_sub_entry.html current=current_page resource=team %}
      {% include components/menu_sub_entry.html current=current_page resource=contact %}
    </ul>
  </nav>
</div>
