{% assign rootResource = site.rootResource | rdf_get %}
{% include_cached strings.html %}
{% capture eventsQuery %}
  SELECT DISTINCT ?e (MIN(?dates) as ?date)
  WHERE {
    ?resourceUri schema:subEvent ?e .
    ?e dct:date ?dates .
  }
  GROUP BY ?e
  ORDER BY ?date
{% endcapture %}
{% assign events = rootResource | sparql_query: eventsQuery %}

{% assign menuResource = "dw23:events" | rdf_get %}

{% capture subMenuQuery %}
select distinct ?entry {
  {
    bind(<{{page.rdf}}> as ?entry)
    ?resourceUri ?cmprop_1st ?entry .
    bind(1 as ?level)
  } union {
    ?resourceUri ?cmprop_1st ?entry .
    ?entry ?cmprop_2nd <{{page.rdf}}> .
    bind(2 as ?level)
  }
  ?cmprop_1st a rdfs:ContainerMembershipProperty .
  ?cmprop_2nd a rdfs:ContainerMembershipProperty .
} order by ?level limit 1
{% endcapture %}

{% assign selected_res = menuResource | sparql_query: subMenuQuery %}
{% assign selected = selected_res.first.entry %}
{% assign current_super_page = selected.render_path | relativize_url %}
{% assign menu = menuResource | rdf_container %}

{% assign current_page = page.rdf.render_path | relativize_url %}

<div class="content-header">
  <h1>
    {{ str_events }}
  </h1>
  <nav class="nav-sub1" aria-label="Untermenü Stufe 1">
    <ul>
    {% for row in events %}
      {% assign entry = row.e %}
      {% assign weekdays = entry | rdf_property: "dct:date", nil, true %}
      {% assign weekday_string = "" %}
      {% for weekday in weekdays %}
        {% unless forloop.first %}
          {% if forloop.last %}
            {% assign weekday_string = " & " | prepend: weekday_string %}
          {% else %}
            {% assign weekday_string = ", " | prepend: weekday_string %}
          {% endif %}
        {% endunless %}
        {% assign weekday_string = weekday | localize: "%a" | prepend: weekday_string %}
      {% endfor %}

      {% assign slug = entry | rdf_property: "dw:slug" %}
      {% include components/menu_sub_entry.html current=current_super_page resource=entry label=slug label_sub=weekday_string label_flipped=true %}
    {% endfor %}
    </ul>
  </nav>
</div>
