{% assign menuResource = include.menuResource %}
{% include strings.html %}

{% capture subMenuQuery %}
select distinct ?entry {
  {
    bind(<{{page.rdf}}> as ?entry)
    ?resourceUri ?cmprop_1st ?entry .
    bind(1 as ?level)
  } union {
    ?resourceUri ?cmprop_1st ?entry .
    ?entry ?cmprop_2nd <{{page.rdf}}> .
    bind(2 as ?level)
  }
  ?cmprop_1st a rdfs:ContainerMembershipProperty .
  ?cmprop_2nd a rdfs:ContainerMembershipProperty .
} order by ?level limit 1
{% endcapture %}

{% assign selected_res = menuResource | sparql_query: subMenuQuery %}
{% assign selected = selected_res.first.entry %}
{% assign current_super_page = selected.render_path | relativize_url %}
{% assign menu = menuResource | rdf_container %}

<nav class="nav-sub1" aria-label="{{ str_sub1_menu }}">
  <ul>
    {% for entry in menu %}
    {% assign label = nil %}
    {% if entry == menuResource %}
    {% assign label = menuResource | rdf_property: "dw:menuHomeLabel", site.language | default: nil %}
    {% endif %}
    {% include components/menu_sub_entry.html current=current_super_page resource=entry label=label %}
    {% endfor %}
  </ul>
</nav>
