{% assign menuResource = include.menuResource %}
{% include strings.html %}

{% if page.rdf %}
{% assign current_page = page.rdf.render_path | relativize_url %}
{% else %}
{% assign current_page = page.path | relativize_url %}
{% endif %}

{% capture subMenuQuery %}
select distinct ?entry {
  {
    bind(<{{page.rdf}}> as ?entry)
    <{{menuResource.iri}}> ?cmprop_1st ?entry .
  } union {
    <{{menuResource.iri}}> ?cmprop_1st ?entry .
    ?entry ?cmprop_2nd <{{page.rdf}}> .
  }
  ?cmprop_1st a rdfs:ContainerMembershipProperty .
  ?cmprop_2nd a rdfs:ContainerMembershipProperty .
}
{% endcapture %}

{% assign selected_res = rootResource | sparql_query: subMenuQuery %}
{% for s in selected_res %}
{% assign selected = s.entry %}
{% endfor %}

{% assign current_super_page = selected.render_path | relativize_url %}
{% assign menu = menuResource | rdf_container %}

<nav class="nav-sub1" aria-label="{{ str_sub1_menu }}">
  <ul>
    {% for entry in menu %}
    {% include components/menu_sub_entry.html current=current_super_page resource=entry %}
    {% endfor %}
  </ul>
</nav>
