{% assign menuResource = include.menuResource %}
{% include strings.html %}

{% if page.rdf %}
{% assign current_page = page.rdf.render_path | relativize_url %}
{% else %}
{% assign current_page = page.path | relativize_url %}
{% endif %}

{% assign current_page = page.rdf.render_path | relativize_url %}
{% assign menu = menuResource | rdf_container %}

<nav class="nav-sub2" aria-label="{{ str_sub2_menu }}">
  <ul>
    {% for entry in menu %}
    {% assign label = nil %}
    {% if entry == menuResource %}
    {% assign label = menuResource | rdf_property: "dw:menuHomeLabel", site.language | default: nil %}
    {% endif %}
    {% include components/menu_main_entry.html current=current_page resource=entry label=label submenu="" %}
    {% endfor %}
  </ul>
</nav>
