{% assign rootResource = site.rootResource | rdf_get %}
{% include strings.html %}
{% capture eventsQuery %}
  SELECT DISTINCT ?e (MIN(?dates) as ?date)
  WHERE {
    ?resourceUri schema:subEvent ?e .
    ?e schema:date ?dates .
  }
  GROUP BY ?e
  ORDER BY ?date
{% endcapture %}
{% assign events = rootResource | sparql_query: eventsQuery %}
{% assign current_page = page.rdf.render_path | relativize_url %}

<div class="content-header">
  <h1>
    {{ str_events }}
  </h1>
  <nav class="nav-sub1" aria-label="Untermenü Stufe 1">
    <ul>
    {% for event in events %}
      {% assign weekdays = event.e | rdf_property: "schema:date", nil, true %}
      {% assign weekday_string = "" %}
      {% for weekday in weekdays %}
        {% unless forloop.first %}
          {% if forloop.last %}
            {% assign weekday_string = " & " | prepend: weekday_string %}
          {% else %}
            {% assign weekday_string = ", " | prepend: weekday_string %}
          {% endif %}
        {% endunless %}
        {% assign weekday_string = weekday | localize: "%a" | prepend: weekday_string %}
      {% endfor %}
      {% assign slug = event.e | rdf_property: "dw:slug" %}
      {% assign event_link = event.e.page_url | relativize_url %}
      {% include components/menu_sub_entry.html current=current_page link=event_link label=slug label_sub=weekday_string %}
    {% endfor %}
    </ul>
  </nav>
</div>
