{% comment %}
This component serializes multiple objects for a sp to comma seperated string.
The labels component will be used to build the strings.
{% endcomment %}

{% assign sub = include.sub %}
{% assign pred = include.pred %}
{% assign objects_string = "" %}
{% assign objects = sub | rdf_property: pred, nil, true %}

{% if site.language == "de" %}
  {% assign conjunction = " und " %}
{% else %}
  {% assign conjunction = " and " %}
{% endif %}

{% for object in objects %}
  {% capture object_name %}{% include_cached components/label.html iri=object %}{% endcapture %}
  
  {% if forloop.first %}
    {% assign objects_string = object_name %}
  {% elsif forloop.last %} 
    {% assign objects_string = object_name | prepend: conjunction | prepend:objects_string %}
  {% else %} 
    {% assign objects_string = object_name | prepend: ", " | prepend: objects_string %}
  {% endif %}

  {% endfor %}

{{ objects_string }}