{% assign organizer = include.organizer %}
{% capture name %}{% include label.html iri = organizer.iri %}{% endcapture %}
{% assign homepage = organizer | rdf_property: "foaf:homepage" %}
{% assign depiction = organizer | rdf_property: "foaf:depiction" %}
{% assign affiliations = organizer | rdf_property: "schema:affiliation", nil, true %}
{% assign groups_foaf = organizer | rdf_property: "foaf:member", nil, true %}
{% if groups_foaf %}
    {% assign affiliations = affiliations | concat: groups_foaf %}
{% endif %}
{% assign groups_schema = organizer | rdf_property: "schema:memberOf", nil, true %}
{% if groups_schema %}
    {% assign affiliations = affiliations | concat: groups_schema %}
{% endif %}

<div class="contact">
    <h2>
    {{ name }}
    </h2>
    {% if depiction %}
        <figure>
        <img class="js-load" data-src="{{ depiction | relativize_url }}" data-sizes="auto" data-srcset="{{ depiction | relativize_url }} 1000w" width="1500" height="1500" style="max-width:1500px" alt="Foto von User"><noscript><img src="files/user.png" alt="Foto von User"></noscript>
        </figure>
    {% else %}
        <img class="js-load" data-src="files/user.png" data-sizes="auto" data-srcset="files/generated/user_480.png 480w, files/generated/user_800.png 800w, files/generated/user_1200.png 1200w" width="1500" height="1500" style="max-width:1500px" alt="Foto von User"><noscript><img src="files/user.png" alt="Foto von User"></noscript>
    {% endif %}
    <p>
    Linked Enterprise Data Services<br>
    eccenca GmbH | AKSW
    </p>
</div>