{% assign organizer = include.organizer %}
{% include_cached strings.html %}
{% capture name %}{% include_cached components/label.html iri = organizer.iri %}{% endcapture %}
{% assign homepage = organizer | rdf_property: "foaf:homepage" %}
{% assign mbox = organizer | rdf_property: "foaf:mbox" %}
{% assign phone = organizer | rdf_property: "foaf:phone" %}
{% assign mastodon = nil %}
{% assign linkedin = nil %}
{% assign xing = nil %}
{% assign twitter = nil %}
{% capture accounts_query %}
select ?mastodon ?linkedin ?xing ?twitter {
  optional {
    ?resourceUri foaf:holdsAccount ?mastodon .
    ?mastodon sioc:member_of <https://joinmastodon.org/> .
  }
  optional {
    ?resourceUri foaf:holdsAccount ?linkedin .
    ?linkedin sioc:member_of <https://www.linkedin.com/> .
  }
  optional {
    ?resourceUri foaf:holdsAccount ?xing .
    ?xing sioc:member_of <https://www.xing.com/> .
  }
  optional {
    ?resourceUri foaf:holdsAccount ?twitter .
    ?twitter sioc:member_of <https://twitter.com/> .
  }
}
{% endcapture %}
{% assign account_res = organizer | sparql_query: accounts_query %}
{% assign accounts = account_res.first %}
{% if accounts.mastodon %}
  {% assign mastodon = accounts.mastodon %}
{% endif %}
{% if accounts.linkedin %}
  {% assign linkedin = accounts.linkedin %}
{% endif %}
{% if accounts.xing %}
  {% assign xing = accounts.xing %}
{% endif %}
{% if accounts.twitter %}
  {% assign twitter = accounts.twitter %}
{% endif %}
{% assign depiction = organizer | rdf_property: "foaf:depiction" %}
{% assign affiliations = organizer | rdf_property: "schema:affiliation", nil, true %}
{% assign groups_foaf = organizer | rdf_property: "foaf:member", nil, true %}
{% if groups_foaf %}
    {% assign affiliations = affiliations | concat: groups_foaf %}
{% endif %}
{% assign groups_schema = organizer | rdf_property: "schema:memberOf", nil, true %}
{% if groups_schema %}
    {% assign affiliations = affiliations | concat: groups_schema %}
{% endif %}

<div class="contact">
    <h3>
      {{ name }}
    </h3>
    <figure>
      {% if depiction %}
        {% assign contact_alt = str_alt_named | append: " " | append: name %}
        {% include components/img.html alt=contact_alt src=depiction %}
        <noscript>
          <img src="{{ depiction | relativize_url }}" alt="{{ contact_alt }}">
        </noscript>
      {% else %}
          {% assign contact_alt = str_alt_placeholder | append: " " | append: name %}
          {% include components/img.html alt=contact_alt src="/resources/files/generated/user_1200.png" %}
          <noscript>
            <img src="{% relative_link /resources/files/generated/user_1200.png %}" alt="{{ contact_alt }}">
          </noscript>
      {% endif %}
    </figure>

    <ul class="logos">
      {% for affiliation in affiliations %}
        {% assign depiction = affiliation | rdf_property: "site:small_logo" %}
        {% unless depiction %}
          {% assign depiction = affiliation | rdf_property: "foaf:logo" %}
        {% endunless %}
        {% assign affiliation_alt = affiliation | rdf_property: "rdfs:label" %}
        {% assign affiliation_alt = str_alt_named | append: " " | append: affiliation_alt %}
        <li>
          {% if depiction %}
              <a href="{{ affiliation }}">
                {% include components/img.html alt=affiliation_alt resource=depiction simple=true %}
              </a>
          {% else %}
            <p>
              {{ affiliation_alt }}
            </p>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    {% capture contact_links -%}
      {%- if homepage -%}
        <li>
          <a href="{{homepage}}" title="{{str_personal_webpage}}"><svg role="img" focusable="false" aria-hidden="true" height="28" width="28">
          <use xlink:href="{% relative_link /resources/images/socialmedia.svg %}#contact-globe"></use></svg></a>
        </li>
      {%- endif -%}
      {%- if phone -%}
        <li>
          <a href="{{phone}}" title="{{str_personal_phone}}"><svg role="img" focusable="false" aria-hidden="true" height="28" width="28">
          <use xlink:href="{% relative_link /resources/images/socialmedia.svg %}#contact-phone"></use></svg></a>
        </li>
      {%- endif -%}
      {%- if mastodon -%}
        <li>
          <a href="{{mastodon}}" title="{{str_personal_mastodon}}"><svg role="img" focusable="false" aria-hidden="true" height="28" width="28">
          <use xlink:href="{% relative_link /resources/images/socialmedia.svg %}#contact-mastodon"></use></svg></a>
        </li>
      {%- endif -%}
      {%- if twitter -%}
        <li>
          <a href="{{twitter}}" title="{{str_personal_twitter}}"><svg role="img" focusable="false" aria-hidden="true" height="28" width="28">
          <use xlink:href="{% relative_link /resources/images/socialmedia.svg %}#contact-twitter"></use></svg></a>
        </li>
      {%- endif -%}
      {%- if xing -%}
        <li>
          <a href="{{xing}}" title="{{str_personal_xing}}"><svg role="img" focusable="false" aria-hidden="true" height="28" width="28">
          <use xlink:href="{% relative_link /resources/images/socialmedia.svg %}#contact-xing"></use></svg></a>
        </li>
      {%- endif -%}
      {%- if linkedin -%}
        <li>
          <a href="{{linkedin}}" title="{{str_personal_linkedin}}"><svg role="img" focusable="false" aria-hidden="true" height="28" width="28">
          <use xlink:href="{% relative_link /resources/images/socialmedia.svg %}#contact-linkedin"></use></svg></a>
        </li>
      {%- endif -%}
      {%- if mbox -%}
        <li>
          <a href="{{mbox}}" title="{{str_personal_email}}"><svg role="img" focusable="false" aria-hidden="true" height="28" width="28">
          <use xlink:href="{% relative_link /resources/images/socialmedia.svg %}#contact-mail"></use></svg></a>
        </li>
      {%- endif -%}
    {%- endcapture %}
    {% unless contact_links == "" %}
      <ul class="contact-links">
        {{ contact_links }}
      </ul>
    {% endunless %}
</div>
