{% include strings.html %}
{%- assign session = include.session -%}
{%- assign start = session | rdf_property: "schema:startTime" | date: "%H:%M" -%}
{%- assign end = session | rdf_property: "schema:endTime" | date: "%H:%M" -%}
{%- assign location = session | rdf_property: "schema:location" -%}
{%- assign location_title = location | rdf_property: "dct:title", site.language -%}
{%- unless location_title -%}
{%- assign location_title = location | rdf_property: "dct:title" -%}
{%- endunless -%}
{%- assign track = session | rdf_property: "site:track" -%}
{%- assign pause = "dw:pause" | rdf_get -%}
{%- assign isKeynote = session | sparql_query: "select ?entity { ?entity a dw:Keynote . filter(?entity = ?resourceUri) }" -%}
{%- if isKeynote.first -%}
{%- assign title = "Keynote" -%}
{%- else -%}
{%- assign title = session | rdf_property: "dct:title", site.language -%}
{%- assign download = session | rdf_property: "schema:downloadUrl" -%}
{%- endif -%}

<section class="timetable-unit {% if track == pause %}timetable-unit-break{% endif %}"  id="{{ start | date: "%H:%M" }}">
  <header>
    <h3>
      {{ start }}
    </h3>
  </header>
  <div>
    <h4>
      {{ title }}{% if download %} <a href="{{ download | relative_link }}"><img src="{%- relative_link /resources/images/presentation.svg -%}" alt="pdf slides" width="22px" style="vertical-align:middle"></a>{% endif %}
    </h4>
    <p class="meta">
      <time datetime="{{ start }}">{{ start }}</time> - <time datetime="{{ end }}">{{ end }}</time> <span>|</span> {{ location_title }} <span>|</span> {% include components/available_language.html resource=session %}
    </p>
    {%- if isKeynote.first -%}
      {% include components/program_keynote.html session=include.session %}
    {%- else -%}
      {% include_cached components/program_session.html session=include.session %}
    {%- endif -%}
    {% unless track == pause %}
    <!--p class="calendar">
      <a href="programm_montag_bereich-a.html#" title="Veranstaltung als Kalender-Datei speichern"><svg role="img" focusable="false" aria-hidden="true" height="28" width="28">
      <use xlink:href="{% relative_link /resources/images/icons.svg %}#calendar-add"></use></svg></a>
    </p-->
    {%- endunless -%}
  </div>
</section>
