{% include strings.html %}
{%- assign session = include.session -%}
{%- assign description = session | rdf_property: "dct:description", site.language -%}
{%- assign performer = session | rdf_property: "schema:performer" -%}
{%- assign affiliation = performer | rdf_property: "schema:affiliation" -%}
{%- assign depiction = performer | rdf_property: "foaf:depiction" -%}
{%- assign homepage = affiliation | rdf_property: "foaf:homepage" -%}
{%- assign download = session | rdf_property: "schema:downloadUrl" -%}
{%- assign bio = performer | rdf_property: "gnd:biographicalOrHistoricalInformation", site.language -%}
{%- unless bio -%}
{%- assign bio = performer | rdf_property: "gnd:biographicalOrHistoricalInformation" -%}
{%- endunless -%}
{%- assign title = session | rdf_property: "dct:title", site.language -%}

{% capture performer_name %}{% include_cached components/label.html iri=performer %}{% endcapture %}
{% capture affiliation_title %}{% include_cached components/label.html iri=affiliation %}{% endcapture %}

{% unless depiction %}
{% assign depiction = "/resources/files/user.png" %}
{% endunless %}

<p>

  <div class="session-details">
    <h5 class="xl">
      {{title}}{% if download %} <a href="{{ download | relative_link }}"> <img src="{%- relative_link /resources/images/presentation.svg -%}" alt="pdf slides" width="22px" style="vertical-align:middle"></a>{% endif %}
    </h5>
    <figure class="session-details-user">
      <img class="js-load" data-src="{{ depiction | relativize_url }}" data-sizes="auto" width="1500" height="1500" style="max-width:1500px" alt="Foto von User"><noscript><img src="{{ depiction | relativize_url }}" alt="Foto von User"></noscript>
    </figure>
    {% if performer %}
    <p>
      <strong>{{ performer_name }}</strong> <a href="{{ homepage | relativize_link }}">{{ affiliation_title }}</a>
    </p>
    {% endif %}
    {% if bio %}
    <h6>
      Vita
    </h6>
    <p>
      {{bio | markdownify | strip }}
    </p>
    {% endif %}
  </div>
  {% if description %}
  <!-- h6>
    Schwerpunkte
  </h6 -->
  {{ description | markdownify }}
  {% endif %}
</p>
