{% include strings.html %}
{%- assign session = include.session -%}
{%- assign description = session | rdf_property: "dct:description", site.language -%}
{%- assign host = session | rdf_property: "schema:performer" -%}

{% capture talks_query %}
  SELECT DISTINCT ?talk {
    ?resourceUri schema:subEvent ?talk .
  }
{% endcapture %}
{% assign talks = session | sparql_query: talks_query %}
<p>
  {% unless host == nil %}
    {% if talks.first %}
      {{ str_host }}
    {% endif %}
    {% include components/list_inline_pair.html sub=session pred="schema:performer" %}
  {% endunless %}
  {% if description %}
  <br />{{ description | markdownify }}
  {% endif %}
</p>
{% if talks.first %}
<ul>
{% for talk_row in talks %}
  {% include components/program_talk_l2.html talk=talk_row.talk %}
{% endfor %}
</ul>
{%- endif -%}
