{%- assign session = include.session -%}
{%- assign session_res = session.resource -%}
{%- assign start = session.start -%}
{%- assign end = session.end -%}
{%- assign location = session_res | rdf_property: "schema:location" -%}
{%- assign title = session_res | rdf_property: "dct:title", site.language -%}
{%- assign description = session_res | rdf_property: "dct:description", site.language -%}
{%- assign sub_event = session_res | rdf_property: "schema:subEvent" -%}

<tr class="break">
  <th colspan="{{num_locations}}">
    <div class="floorplan-cols">
      <div>
        <h4>
          {{ title }}
        </h4>
        <p class="meta">
          <time datetime="{{start}}">{{start | date: "%H:%M"}}</time> - <time datetime="{{end}}">{{end | date: "%H:%M"}}</time>
        </p>
      </div>
      {%- if sub_event -%}
        <div class="floorplan-break-session">
          <h4>
            {{sub_event | rdf_property: "rdfs:label", site.language}}
          </h4>
        </div>
      {%- endif -%}
    </div>
  </th>
</tr>
