{% capture imageQuery %}
  SELECT ?image ?description ?link
  WHERE {
    <https://2022.dataweek.de/> foaf:depiction ?image .
    ?image rdf:type foaf:Image ;
      rdf:value ?link ;
      dct:description ?description .
    FILTER(langMatches(lang(?description), "{{ site.language }}"))
  }
{% endcapture %}
{% assign images = rootResource | sparql_query: imageQuery %}
{% if images.first %}
  <div class="slider-box">
    <div class="slider">
      <ul>
        {% for image in images %}
          <li>
            <img class="js-load" data-src="{{ image.link }}" data-sizes="auto"
              data-srcset="{{ image.link }} 800w, {{ image.link }} 1980w"
              width="6240" height="4160" style="max-width:6240px" alt="{{ image.description }}">
              <noscript>
                <img src="{{ image.link }}" alt="{{ image.description }}" />
              </noscript>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}

