---
layout: subpage
---

<h1>{% include label.html iri = page.rdf %}</h1>

{% for res in page.sub_rdf %}
{{res}}
{% endfor%}

{% capture locationquery %}
select distinct ?location ?title ?description {
  ?event schema:location ?location .
  ?location dct:title ?title .
} order by ?title
{% endcapture %}

{% assign locations = page.rdf | sparql_query: locationquery %}
{% for location_row in locations %}
<h3>{{ location_row.title }}</h3>
{{ location_row.location | rdf_property: "dct:description", site.language }}
{% endfor %}

{% assign img = "venue/floorplan_" | append: site.language | append: ".png" %}
<a href="{{ img | relativize_url }}">{% include img.html src=img alt="Floorplan/Raumplan" class='w100 padded' %}</a>


{% if site.language == 'de' %}
{% capture body %}
## Erreichbarkeit Neues Rathaus und Stadthaus


### Bus und Bahn

**Straßenbahn:**

Linien 2, 8, 10 bis Neues Rathaus

Linien 11, 34 bis Wilhelm-Leuschner-Platz

**Bus:**

Linie 89 bis Neues Rathaus

**S-Bahn:**

[Citytunnel](https://www.leipzig.de/umwelt-und-verkehr/unterwegs-in-leipzig/bus-und-bahn/city-tunnel) Haltestelle Wilhelm-Leuschner-Platz


### Auto

Im Bereich Martin-Luther-Ring, Lotterstraße und Burgplatz stehen kostenpflichtige Parkmöglichkeiten und Kurzzeitparkplätze in begrenzter Anzahl zur Verfügung. Weitere Parkflächen befinden sich in der Tiefgarage Petersbogen mit Zufahrt über Lotterstraße.

Gekennzeichnete Behindertenstellplätze befinden sich am Haupteingang des Neuen Rathauses, am Burgplatz und in der Lotterstraße.


### Fahrrad

Abstellmöglichkeiten für Fahrräder sind im gesamten Bereich Martin-Luther-Ring und Burgplatz vorhanden.


### Mit dem Flugzeug einfliegen

Der Flughafen Leipzig / Halle ist ca. 30 Minuten (mit dem Auto) vom Leipziger Stadtzentrum entfernt. Zwischen Flughafen und Hauptbahnhof verkehren regelmäßig InterCity- und Regionalzüge. Der Flughafen Berlin ist ca. 2 Stunden, der Flughafen Frankfurt oder der Flughafen Hannover sind ca. 3,5 Stunden mit dem Zug entfernt.


### Anreise mit der Bahn

Die Stadt Leipzig ist mit der Deutschen Bahn aus fast allen europäischen Städten gut erreichbar. Der Hauptbahnhof befindet sich in unmittelbarer Nähe zum Stadtzentrum und zum Veranstaltungsort.


### Anreise mit dem Auto

Autobahnabfahrt Leipzig über die Autobahnen A9 (Berlin-Nürnberg), A14 (Magdeburg-Dresden) oder A38 (Göttingen-Leipzig)

**A9 Ausfahrt Leipzig West**



* Leipzig West / B181 und Merseburger Straße/181 folgen
* weiter auf Merseburger Straße / B87 (Beschilderung Richtung Torgau / Zentrum)
* links abbiegen auf die Lützner Straße / B87 (Beschilderung Richtung Torgau / Zentrum)
* rechts abbiegen auf die Jahnallee / B87 (Beschilderung Richtung Torgau / Zentrum)
* rechts abbiegen in den Goerdelerring
* rechts halten auf dem Dittrichring und Martin-Luther-Ring
* links abbiegen in die Lotterstraße
* Sie können die Tiefgarage am Burgplatz nutzen.

**A14 Ausfahrt Leipzig Mitte**



* B2 / Maximilianallee bis Dresdner Str. folgen
* links halten, um links auf Am Gothischen Bad/Rackwitzer Str./B2/B6 abzubiegen
* rechts halten, um rechts auf Brandenburger Str/B2/B87. abzubiegen
* rechts abbiegen auf Dresdner Str.
* weiter auf Grimmaischer Steinweg bis Augustusplatz
* Sie können die Tiefgarage am Augustusplatz nutzen.

**A38 Ausfahrt Leipzig Süd**



* auf der B2 bleiben bis Wundtstraße (Schilder: A9 / Weißenfels / Grünau / Zentrum beachten)
* auf der Hauptstraße bleiben bis Flossplatz
* auf der Hauptstraße bleiben bis Harkortstraße
* am Martin-Luther-Ring rechts abbiegen
* auf der Hauptstraße bleiben bis Augustusplatz
* Folgen Sie dem inneren Stadtring bis zum Augustusplatz. Sie können die Tiefgarage am Augustusplatz benutzen.


{% endcapture %}
{% endif %}
{% if site.language == 'en' %}
{% capture body %}

## Accessibility New City Hall and Town Hall


### Bus and Tram

**Tram:**

Lines 2, 8, 10 to Neues Rathaus

Lines 11, 34 to Wilhelm-Leuschner-Platz

**Bus:**

Line 89 to Neues Rathaus

**S-Bahn:**

Citytunnel stop Wilhelm-Leuschner-Platz


### Car

In the area of Martin-Luther-Ring, Lotterstraße and Burgplatz, a limited number of paid parking spaces and short-term parking spaces are available. Additional parking spaces are available in the Petersbogen underground parking lot with access via Lotterstraße.

Marked handicapped parking spaces are located at the main entrance of the New City Hall, at Burgplatz and in Lotterstraße.


### Bicycle

Parking facilities for bicycles are available throughout the Martin-Luther-Ring and Burgplatz areas.


### Fly in by plane

The [Flughafen Leipzig / Halle](http://www.leipzig-halle-airport.de/de/index.html) is about 30 minutes away (by car) from the city centre of Leipzig. InterCity and regional trains run regularly between the airport and central station. The Berlin Airport is about 2 hours away, Airport Frankfurt or Airport Hannover are about 3.5 hours away by train.


### Go by train

The city of Leipzig is well accessible by train[ Deutschen Bahn](http://www.bahn.de/p/view/index.shtml) from almost all European cities. The central station is very close to the city center and to the event location.


### Go by car

Motorway exit Leipzig via Autobahn A9 (Berlin-Nürnberg), A14 (Magdeburg-Dresden) or A38 (Goettingen-Leipzig)

**A9, Exit Leipzig West**



* follow Leipzig West / B181 and Merseburger Straße/181
* continue on Merseburger Straße / B87 (signposted Torgau / Zentrum)
* turn left onto Lützner Straße / B87 (signposted Torgau / Zentrum)
* turn right onto Jahnallee / B87 (signposted Torgau / Zentrum)
* turn right onto Goerdelerring
* keep right on Dittrichring and Martin-Luther-Ring
* turn left into Lotterstraße
* You can use the underground car park at Burgplatz.

**A14 Exit Leipzig Mitte**



* follow B2 / Maximilianallee to Dresdner Str.
* keep left to turn left onto Am Gothischen Bad/Rackwitzer Str./B2/B6.
* keep right to turn right onto Brandenburger Str/B2/B87.
* turn right onto Dresdner Str.
* continue on Grimmaischer Steinweg until Augustusplatz
* You can use the underground car park at Augustusplatz.

**A38 Exit Leipzig Süd**



* stay on B2 until Wundtstraße (watch out for signs: A9 / Weißenfels / Grünau / Zentrum)
* stay on main road until Flossplatz
* stay on main road until Harkortstraße
* Take a right turn at Martin-Luther-Ring
* stay on main road until Augustusplatz
* Follow the city's inner ring road until Augustusplatz. You could use the underground car park at Augustusplatz.
{% endcapture %}
{% endif %}
{{ body | markdownify }}
