---
layout: basic
---
{% assign rootResource = site.rootResource | rdf_get %}
{% include strings.html %}
{% assign venue = rootResource | rdf_property: "schema:location" %}
{% capture address %}
  {{ venue | rdf_property: "schema:name" }}<br>
  {{ venue | rdf_property: "schema:streetAddress" }}<br>
  {{ venue | rdf_property: "schema:postalCode" }} {{ venue | rdf_property: "schema:addressLocality" }}
{% endcapture %}

<div class="content-header">
<!--
  <h1>
    {{ venue | rdf_property: "rdfs:label", site.language }}
  </h1>
-->
  {% include components/menu_sub1.html menuResource=venue %}
</div>

<div class="card-list">
  <ul>
  <li>
    <div class="card">
	<p style="text-align: left;">
        {% if site.language == 'en' %}
          The Data Week 2023 will take place on the first floor of the New Town Hall Leipzig (Neues Rathaus).
	  The building is the seat of the Leipzig city administration since 1905 and is located inside of the Leipzig city center.
        {% else %}
          Die Data Week 2023 findet im 1. Obergeschoss des Neuen Rathaus der Stadt Leipzig statt.
	  Das Gebäude ist seit 1905 der Sitz der Leipziger Stadtverwaltung und befindet sich direkt in der Leipziger Innenstadt.
        {% endif %}
	</p>
        <address>
          {{ address }}
        </address>
    </div>
  </li>

  <li>
    <div class="card">
        <div class="image lightbox">
          <figure>
            <a
              href="{% relative_link /resources/images/Neues_Rathaus_Leipzig_2010.jpg %}"
              title="{{ str_img_townhall_title }}"
              data-lightbox
              data-alt="{{ str_img_townhall_alt }}"
              data-description="{{ str_img_townhall_description }}"
            >
              <img src="{% relative_link /resources/images/Neues_Rathaus_Leipzig_2010.jpg %}" alt="{{ str_img_townhall_title }}; {{ str_img_townhall_description }}"/>
            </a>
          </figure>
        </div>
        <p>
          <svg role="img" focusable="false" aria-hidden="true" height="28" width="28"><use xlink:href="{% relative_link /resources/images/socialmedia.svg %}#contact-link"></use></svg> <a
            href="{{ str_link_wikipedia_townhall }}">Wikipedia</a>
        </p>
    </div>
  </li>

  <li>
    <div class="card">
      <img src="{% relative_link /resources/images/floorplan/Floorplan.svg %}"/>
    </div>
  </li>

  <li>
    <div class="card">
      <div class="ce-map-consent" data-consent="" data-consent-name="openstreetmap" data-consent-callback="pxConsentMap1">
        <script>
          window.pxConsentMap1 = function (consentElement,active) { window.initLeaflet(consentElement,active); }
        </script>
        <div class="ce-map" data-consent-ready="" data-init-lat="51.335790" data-init-lon="12.372070" data-init-zoom="16"
		data-label-map="Neues Rathaus/City Hall">
          <div class="map-marker" data-icon="/resources/files/map-icon-01.svg"
		 data-icon-width="28" data-icon-height="28" data-lat="51.335790" data-lon="12.372070">
          </div>
        </div>
        <div data-consent-form="">
          <p id="px-consent-map-info-1">
            <strong>
            {% if site.language == 'en' %}
              Here the map from OpenStreetMap gets included. By loading this content, you consent to the data privacy statement of OpenStreetMap.
            {% else %}
              An dieser Stelle wird eine Karte direkt von OpenStreetMap eingebunden. Mit dem Laden akzeptieren Sie die Datenschutzerklärung von OpenStreetMap.
            {% endif %}
            </strong>
          </p>
          <form action="#">
            <div>
              <label><input type="checkbox" data-consent-form-setcookie="" name="setcookie" checked>
		<span>
                {% if site.language == 'en' %}
		  Always unblock OpenStreetMap maps <small>(save setting as cookie)</small>
                {% else %}
		  OpenStreetMap-Karten immer entsperren <small>(Einstellung als Cookie speichern)</small>
                {% endif %}
	        </span>
	      </label>
	      <br/>
              <button aria-describedby="px-consent-map-info-1" data-consent-form-button="">
                {% if site.language == 'en' %}
	          Show Map
                {% else %}
	          Karte anzeigen
                {% endif %}
	      </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </li>

  </ul>
</div>
