---
layout: basic
menu_entries:
  - id: 'venue'
    label_de: 'Veranstaltungsort'
    label_en: 'Venue'
    link: 'index.html'
  - id: 'travel'
    label_de: 'Anreise'
    label_en: 'Travel'
    link: 'travel.html'
  - id: 'accomodation'
    label_de: 'Unterkunft'
    label_en: 'Accomodation'
    link: 'accomodation.html'
---
{% assign rootResource = site.rootResource | rdf_get %}
{% include strings.html %}
{% assign venue = rootResource | rdf_property: "schema:location" %}
{% capture address %}
  {{ venue | rdf_property: "schema:name" }}<br>
  {{ venue | rdf_property: "schema:streetAddress" }}<br>
  {{ venue | rdf_property: "schema:postalCode" }} {{ venue | rdf_property: "schema:addressLocality" }}
{% endcapture %}

<div class="content-header">
  <h1>
    {{ venue | rdf_property: "rdfs:label", site.language }}
  </h1>
  <address>
    {{ address }}
  </address>
  {% include components/menu_sub1_static.html entries=page.menu_entries active_entry='travel' %}
</div>


<div class="box">
  <h2>
    {% if site.language == 'en' %}
      Map view
    {% else %}
      Kartenansicht
    {% endif %}
  </h2>
  <div class="ce-map-consent" data-consent="" data-consent-name="openstreetmap" data-consent-callback="pxConsentMap1">
    <script>
    window.pxConsentMap1 = function (consentElement,active) {
    window.initLeaflet(consentElement,active);
    }
    </script>
    <div class="ce-map" data-consent-ready="" data-init-lat="51.335790" data-init-lon="12.372070" data-init-zoom="16" data-label-map="Standort Neues Rathaus/City Hall">
      <div class="map-marker" data-icon="resources/files/map-icon-01.svg" data-icon-width="28" data-icon-height="28" data-lat="51.335790" data-lon="12.372070">
      </div>
    </div>
    <div data-consent-form="">
      <p id="px-consent-map-info-1">
        <strong>
          {% if site.language == 'en' %}
            Here the map from OpenStreetMap gets included. With loading it you consent to the data privacy statement of OpenStreetMap.
          {% else %}
            An dieser Stelle wird eine Karte direkt von OpenStreetMap eingebunden. Mit dem Laden akzeptieren Sie die Datenschutzerklärung von OpenStreetMap.
          {% endif %}
        </strong>
      </p>
      <form action="#">
        <div>
          <label><input type="checkbox" data-consent-form-setcookie="" name="setcookie" checked> <span>OpenStreetMap-Karten immer entsperren <small>(Einstellung als Cookie speichern)</small></span></label><br>
          <button aria-describedby="px-consent-map-info-1" data-consent-form-button="">Karte anzeigen</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="box">
  <h2>
    {% if site.language == 'en' %}
      View
    {% else %}
      Lageplan
    {% endif %}
  </h2>
  <figure>
    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 896 588" width="100%">
    <path fill="#e8f7fd" d="M893.001 585H703V409h112.001v-20H282.999v-98h-33.997v294H3V3h246.002v266h33.997v-56h42.003v-34h-42V3h106v176h-42.001v34h118.001v-34h-42.001V3h106v176h-42v34h118v-34h-41.998V3h105.998v176h-42v34h188v-34H703V3h190.001v176H837v34h56.001v176H837v20h56.001v176Z"></path>
    <path fill="#b5e3f8" d=
    "M890.001 582V412H834v-26h56.001V216H834v-40h56.001V6H706v170h112.001v40h-194v-40h42V6h-99.998v170h41.998v40h-124v-40h42V6h-100v170h42.001v40H344.001v-40h42.001V6h-100v170h42v40h-42.003v56h-39.997V6H6v576h240.002V288h39.997v98h532.002v26H706v170h184.001m6 6H700V406h112.001v-14H279.999v-98h-27.997v294H0V0h252.002v266h27.997v-56h42.003v-28h-42V0h112v182h-42.001v28h112.001v-28h-42.001V0h112v182h-42v28h112v-28h-41.998V0h111.998v182h-42v28h182v-28H700V0h196.001v182H840v28h56.001v182H840v14h56.001v182Z"></path>
    <text fill="#17214c" font-size="20" font-weight="700" transform="translate(34 288)">Sitzungssaal</text> <text fill="#17214c" font-size="20" font-weight="700" transform="translate(524 288)">Wandelhalle</text> <text fill="#17214c" font-size="20" font-weight="700" transform="translate(719 153)">Ratsplenarsaal</text> <text fill="#17214c" font-size="20" font-weight="700" transform="translate(719 558)">Eingang</text> <text fill="#17214c" font-size="20" font-weight="700" transform=
    "translate(442 153)">R260</text> <text fill="#17214c" font-size="20" font-weight="700" transform="translate(302 153)">R259</text> <text fill="#17214c" font-size="16" font-weight="700" transform="translate(442 125)">Meetup</text> <text fill="#17214c" font-size="16" font-weight="700" transform="translate(302 125)">Meetup</text> </svg>
  </figure>
</div>
{% if site.language == 'en' %}
  <h2>
    Accessibility New City Hall and Town Hall
  </h2>
  <div class="box">
    <h3>
      Bus and Tram
    </h3>
    <dl>
      <dt>
        Tram:
      </dt>
      <dd>
        Lines 2, 8, 9 to Neues Rathaus<br />
        Lines 10, 11 to Wilhelm-Leuschner-Platz
      </dd>
      <dt>
        Bus:
      </dt>
      <dd>
        Linie 89 bis Neues Rathaus
      </dd>
      <dt>
        S-Bahn:
      </dt>
      <dd>
        Citytunnel stop Wilhelm-Leuschner-Platz
      </dd>
    </dl>
  </div>
  <div class="box">
    <h3>
      Car
    </h3>
    <p>
      In the area of Martin-Luther-Ring, Lotterstraße and Burgplatz, a limited number of paid parking spaces and short-term parking spaces are available. Additional parking spaces are available in the Petersbogen underground parking lot with access via Lotterstraße.
      Marked handicapped parking spaces are located at the main entrance of the New City Hall, at Burgplatz and in Lotterstraße.
    </p>
  </div>
  <div class="box">
    <h3>
      Bicycle
    </h3>
    <p>
      Parking facilities for bicycles are available throughout the Martin-Luther-Ring and Burgplatz areas.
    </p>
  </div>
  <div class="box">
    <h3>
      Fly in by plane
    </h3>
    <p>
      The <a href="http://www.leipzig-halle-airport.de/de/index.html" >Flughafen Leipzig / Halle</a> is about 30 minutes away (by car) from the city centre of Leipzig. InterCity and regional trains run regularly between the airport and central station. The Berlin Airport is about 2 hours away, Airport Frankfurt or Airport Hannover are about 3.5 hours away by train.
    </p>
  </div>
  <div class="box">
    <h3>
      Go by train
    </h3>
    <p>
      The city of Leipzig is well accessible by train <a href="http://www.bahn.de/p/view/index.shtml" >Deutschen Bahn</a> from almost all European cities. The central station is very close to the city center and to the event location.
    </p>
  </div>
  <div class="box">
    <h3>
      Go by car
    </h3>
    <p>
      Motorway exit Leipzig via Autobahn A9 (Berlin-Nürnberg), A14 (Magdeburg-Dresden) or A38 (Goettingen-Leipzig)
    </p>
    <div class="hr">
      <hr>
    </div>
    <h4>
      A9, Exit Leipzig West
    </h4>
    <ul>
      <li>follow Leipzig West / B181 and Merseburger Straße/181
      </li>
      <li>continue on Merseburger Straße / B87 (signposted Torgau / Zentrum)
      </li>
      <li>turn left onto Lützner Straße / B87 (signposted Torgau / Zentrum)
      </li>
      <li>turn right onto Jahnallee / B87 (signposted Torgau / Zentrum)
      </li>
      <li>turn right onto Goerdelerring
      </li>
      <li>keep right on Dittrichring and Martin-Luther-Ring
      </li>
      <li>turn left into Lotterstraße
      </li>
      <li>You can use the underground car park at Burgplatz.
      </li>
    </ul>
    <div class="hr">
      <hr>
    </div>
    <h4>
      A14 Exit Leipzig Mitte
    </h4>
    <ul>
      <li>follow B2 / Maximilianallee to Dresdner Str.
      </li>
      <li>keep left to turn left onto Am Gothischen Bad/Rackwitzer Str./B2/B6.
      </li>
      <li>keep right to turn right onto Brandenburger Str/B2/B87.
      </li>
      <li>turn right onto Dresdner Str.
      </li>
      <li>continue on Grimmaischer Steinweg until Augustusplatz
      </li>
      <li>You can use the underground car park at Augustusplatz.
      </li>
    </ul>
    <div class="hr">
      <hr>
    </div>
    <h4>
      A38 Exit Leipzig Süd
    </h4>
    <ul>
      <li>stay on B2 until Wundtstraße (watch out for signs: A9 / Weißenfels / Grünau / Zentrum)
      </li>
      <li>stay on main road until Flossplatz
      </li>
      <li>stay on main road until Harkortstraße
      </li>
      <li>Take a right turn at Martin-Luther-Ring
      </li>
      <li>stay on main road until Augustusplatz
      </li>
      <li>Follow the city's inner ring road until Augustusplatz. You could use the underground car park at Augustusplatz.
      </li>
    </ul>
  </div>
{% else %}
  <h2>
    Erreichbarkeit Neues Rathaus und Stadthaus
  </h2>
  <div class="box">
    <h3>
      Bus und Bahn
    </h3>
    <dl>
      <dt>
        Straßenbahn:
      </dt>
      <dd>
        Linien 2, 8, 9 bis Neues Rathaus<br>
        Linien 10, 11 bis Wilhelm-Leuschner-Platz
      </dd>
      <dt>
        Bus:
      </dt>
      <dd>
        Linie 89 bis Neues Rathaus
      </dd>
      <dt>
        S-Bahn:
      </dt>
      <dd>
        Citytunnel Haltestelle Wilhelm-Leuschner-Platz
      </dd>
    </dl>
  </div>
  <div class="box">
    <h3>
      Parken
    </h3>
    <p>
      Im Bereich Martin-Luther-Ring, Lotterstraße und Burgplatz stehen kostenpflichtige Parkmöglichkeiten und Kurzzeitparkplätze in begrenzter Anzahl zur Verfügung. Weitere Parkflächen befinden sich in der Tiefgarage Petersbogen mit Zufahrt über Lotterstraße.<br>
      Gekennzeichnete Behindertenstellplätze befinden sich am Haupteingang des Neuen Rathauses, am Burgplatz und in der Lotterstraße.
    </p>
  </div>
  <div class="box">
    <h3>
      Fahrrad
    </h3>
    <p>
      Abstellmöglichkeiten für Fahrräder sind im gesamten Bereich Martin-Luther-Ring und Burgplatz vorhanden.
    </p>
  </div>
  <div class="box">
    <h3>
      Mit dem Flugzeug einfliegen
    </h3>
    <p>
      Der Flughafen Leipzig / Halle ist ca. 30 Minuten (mit dem Auto) vom Leipziger Stadtzentrum entfernt. Zwischen Flughafen und Hauptbahnhof verkehren regelmäßig InterCity- und Regionalzüge. Der Flughafen Berlin ist ca. 2 Stunden, der Flughafen Frankfurt oder der Flughafen Hannover sind ca. 3,5 Stunden mit dem Zug entfernt.
    </p>
  </div>
  <div class="box">
    <h3>
      Anreise mit der Bahn
    </h3>
    <p>
      Die Stadt Leipzig ist mit der Deutschen Bahn aus fast allen europäischen Städten gut erreichbar. Der Hauptbahnhof befindet sich in unmittelbarer Nähe zum Stadtzentrum und zum Veranstaltungsort.
    </p>
  </div>
  <div class="box">
    <h3>
      Anreise mit dem Auto
    </h3>
    <p>
      Autobahnabfahrt Leipzig über die Autobahnen A9 (Berlin-Nürnberg), A14 (Magdeburg-Dresden) oder A38 (Göttingen-Leipzig)
    </p>
    <div class="hr">
      <hr>
    </div>
    <h4>
      A9 Ausfahrt Leipzig West
    </h4>
    <ul>
      <li>Leipzig West / B181 und Merseburger Straße/181 folgen
      </li>
      <li>weiter auf Merseburger Straße / B87 (Beschilderung Richtung Torgau / Zentrum)
      </li>
      <li>links abbiegen auf die Lützner Straße / B87 (Beschilderung Richtung Torgau / Zentrum)
      </li>
      <li>rechts abbiegen auf die Jahnallee / B87 (Beschilderung Richtung Torgau / Zentrum)
      </li>
      <li>rechts abbiegen in den Goerdelerring
      </li>
      <li>rechts halten auf dem Dittrichring und Martin-Luther-Ring
      </li>
      <li>links abbiegen in die Lotterstraße
      </li>
      <li>Sie können die Tiefgarage am Burgplatz nutzen.
      </li>
    </ul>
    <div class="hr">
      <hr>
    </div>
    <h4>
      A14 Ausfahrt Leipzig Mitte
    </h4>
    <ul>
      <li>B2 / Maximilianallee bis Dresdner Str. folgen
      </li>
      <li>links halten, um links auf Am Gothischen Bad/Rackwitzer Str./B2/B6 abzubiegen
      </li>
      <li>rechts halten, um rechts auf Brandenburger Str/B2/B87. abzubiegen
      </li>
      <li>rechts abbiegen auf Dresdner Str.
      </li>
      <li>weiter auf Grimmaischer Steinweg bis Augustusplatz
      </li>
      <li>Sie können die Tiefgarage am Augustusplatz nutzen.
      </li>
    </ul>
    <div class="hr">
      <hr>
    </div>
    <h4>
      A38 Ausfahrt Leipzig Süd
    </h4>
    <ul>
      <li>auf der B2 bleiben bis Wundtstraße (Schilder: A9 / Weißenfels / Grünau / Zentrum beachten)
      </li>
      <li>auf der Hauptstraße bleiben bis Flossplatz
      </li>
      <li>auf der Hauptstraße bleiben bis Harkortstraße
      </li>
      <li>am Martin-Luther-Ring rechts abbiegen
      </li>
      <li>auf der Hauptstraße bleiben bis Augustusplatz
      </li>
      <li>Folgen Sie dem inneren Stadtring bis zum Augustusplatz. Sie können die Tiefgarage am Augustusplatz benutzen.
      </li>
    </ul>
  </div>
{% endif %}
