---
layout: basic
---
{% assign rootResource = site.rootResource | rdf_get %}

<div class="content-header">
  <h1>
    Organisationsteam
  </h1>
  <p>
    Ihr habe Fragen an uns, wollt mitarbeiten oder auf der nächsten Data Week sprechen? Bitte kontaktiert uns: <strong><a href="mailto:dataweek@infai.org">dataweek@infai.org</a></strong>
  </p>
  {% assign subEvents = rootResource | rdf_property: "schema:subEvent", nil, true %}
    {{ site.rdf }}
      {{ site.rdf.iri }}
          {{ subEvent.iri }}
  <nav class="nav-sub1" aria-label="Untermenü Stufe 1">
    <ul>
      {% for subEvent in subEvents %}
        <li>
          {% if subEvent.iri == site.rdf.iri %}
            <strong aria-current="page">
          {% else %}
            <a href="/{{ subEvent.iri | replace: rootResource.iri, "" }}">
          {% endif %}
          <span>Team</span> {{ subEvent | rdf_property: "rdfs:label" }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</div>
{% assign organizers = rootResource | rdf_property: "schema:organizer", nil, true %}
<h2>
  Leipziger Semantic Web Tag - Die Organisatoren
</h2>
<div class="contact-list">
  {% assign organizerTeam = organizers | rdf_container %}
  <ul>
    {% for organizer in organizerTeam %}
      <li>
        {% include components/person.html organizer=organizer %}
      </li>
    {% endfor %}
  </ul>
</div>
