---
rdf_prefix_path: _data/prefixes.sparql
layout: page
type: Event
---
{% include strings.html %}
{% assign rootResource = site.rootResource | rdf_get %}

<a id="top"></a>
<nav class="nav-first" aria-label="Sprunglinks">
  <a href="index.html#inhalt">{{str_jump_content}}</a> <a href="index.html#hilfsmenue">{{str_jump_aux_menu}}</a>
</nav>
{% include sections/header.html %}
{% include components/menu_main.html %}
{% include_cached sections/greeting.html %}
<main class="page-main" aria-label="Inhalt" id="inhalt">
  <div class="content-header">
    {% include_cached sections/keynotes.html %}
    {{ content }}
  </div>
  {% include_cached sections/impressions.html %}
</main>
{% include sections/sponsors.html %}
{% include sections/footer.html %}
<div class="toplink">
  <a href="index.html#top" aria-label="{{str_jump_top}}" title="{{str_jump_top_title}}">
    <svg role="img" focusable="false" aria-hidden="true" viewbox="0 0 28 28" height="28" width="28">
      <use xlink:href="/resources/images/icons.svg#button-toplink"></use>
    </svg>
  </a>
</div>
