---
rdf_prefix_path: _data/prefixes.sparql
layout: page
type: Event
---
{% assign rootResource = site.rootResource | rdf_get %}

<a id="top"></a>
<nav class="nav-first" aria-label="Sprunglinks">
  <a href="index.html#inhalt">zum Inhalt</a> <a href="index.html#hilfsmenue">zum Hilfsmenü</a>
</nav>
{% include sections/header.html %}
{% include sections/menu.html %}
{% include sections/greeting.html %}
<main class="page-main" aria-label="Inhalt" id="inhalt">
  {{ content }}
  {% include sections/impressions.html %}
</main>
{% include sections/footer.html %}
<div class="toplink">
  <a href="index.html#top" aria-label="zum Seitenanfang springen" title="zum Seitenanfang"><svg role="img" focusable="false" aria-hidden="true" viewbox="0 0 28 28" height="28" width="28">
      <use xlink:href="/resources/images/icons.svg#button-toplink"></use>
    </svg></a>
</div>
