---
---
<!doctype html>
<html lang="{{ page.language }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Leipzig Data Week</title>
    <meta property="og:title" content="Leipzig Data Week">
    <meta name="twitter:title" content="Leipzig Data Week">
    <link rel="stylesheet" type="text/css" href="{% relative_link /css/main.css %}" />

  </head>
  <body>
    <div class="container">
      {{ content }}
    </div>
  </body>
</html>
