---
layout: basic
---
{% include strings.html %}
{% assign rootResource = site.rootResource | rdf_get %}
{% assign baseEventResource = page.rdf | rdf_property: "dw:resourceUri" %}
{% assign dwTable = "dw:Table" | rdf_get %}
{% assign dwList = "dw:List" | rdf_get %}

{% if baseEventResource == rootResource %}
  {% include components/menu_program.html %}
{% else %}
  {% include components/menu_events.html %}
{% endif %}

{% capture viewQuery %}
SELECT ?resource ?filter ?mode
WHERE {
  ?resourceUri dw:resourceUri ?resource ;
    dw:viewFilter ?filter .
  optional {
    ?resourceUri dw:viewMode ?mode .
  }
} limit 1
{% endcapture %}

{% assign view_res = page.rdf | sparql_query: viewQuery %}
{% assign view = view_res.first %}

{% if baseEventResource == rootResource %}
  {%- assign navigation = page.rdf | sparql_query: "select ?entity { ?entity a site:Navigation . filter(?entity = ?resourceUri) }" -%}
  {%- unless navigation.first -%}
    {%- assign navigation = page.rdf | sparql_query: "select ?entity { ?entity a site:Navigation ; ?cmp ?resourceUri . ?cmp a rdfs:ContainerMembershipProperty }" -%}
  {%- endunless -%}
  {%- assign menuResource = navigation.first.entity -%}
{% else %}
  {%- assign menuResource = view.resource -%}
{% endif %}

{%- include components/menu_sub2.html menuResource=menuResource -%}

{% assign mode = view.mode | default: dwList %}

{%- if mode == dwList -%}
  {%- include components/program_view_list.html view=view -%}
{%- elsif mode == dwTable -%}
  {%- include components/program_view_table.html view=view -%}
{%- endif -%}

{%- if program_empty -%}
  <div class="box">
    {{str_program_under_construction}}
  </div>
{%- endif -%}
