---
layout: basic
---
{% include strings.html %}
{% assign rootResource = site.rootResource | rdf_get %}
{% assign baseEventResource = page.rdf | rdf_property: "dw:resourceUri" %}

{% if baseEventResource == rootResource %}
  {% include components/menu_program.html %}
{% else %}
  {% include components/menu_events.html %}
{% endif %}

{% capture view_query %}
SELECT ?resource ?filter
WHERE {
  ?resourceUri dw:resourceUri ?resource ;
    dw:viewFilter ?filter .
} limit 1
{% endcapture %}

{% assign view_res = page.rdf | sparql_query: view_query %}
{% assign view = view_res.first %}

{% capture sessions_query %}
SELECT DISTINCT ?session
WHERE {
  {
    ?resourceUri schema:subEvent ?session .
  } union {
    ?resourceUri schema:subEvent ?subEvent .
    ?subEvent schema:subEvent ?session .
  }
  ?session schema:startTime ?start .
  {
    ?session schema:location ?location ;
      dct:date ?date .
    filter ({{ view.filter }})
  } union {
    ?session site:track dw:pause ;
      dct:date ?date .
    filter ({{ view.filter }})
  }
} ORDER BY ?start
{% endcapture %}

{% assign sessions = view.resource | sparql_query: sessions_query %}

{% if baseEventResource == rootResource %}
  {%- assign navigation = page.rdf | sparql_query: "select ?entity { ?entity a site:Navigation . filter(?entity = ?resourceUri) }" -%}
  {%- unless navigation.first -%}
    {%- assign navigation = page.rdf | sparql_query: "select ?entity { ?entity a site:Navigation ; ?cmp ?resourceUri . ?cmp a rdfs:ContainerMembershipProperty }" -%}
  {%- endunless -%}
  {%- assign menuResource = navigation.first.entity -%}
{% else %}
  {%- assign menuResource = view.resource -%}
{% endif %}

{%- include components/menu_sub2.html menuResource=menuResource -%}

{%- if sessions.first -%}
  {%- for session_row in sessions -%}
    {%- include components/program_unit.html session=session_row.session -%}
  {%- endfor -%}
{%- else -%}
  <div class="box">
    {{str_program_under_construction}}
  </div>
{%- endif -%}
