---
layout: basic
---
{% include strings.html %}
{% assign link = page.rdf | rdf_property: "dw:rel_link" %}
{% assign location = page.rdf | rdf_property: "schema:location" %}
{% assign current_location_string = location | rdf_property: "dct:title" %}
{% assign date = page.rdf | rdf_property: "schema:date" %}


{% capture menu_query %}
SELECT (min(?iri) as ?link) ?date ?location ?datestring WHERE {
  ?iri rdf:type dw:RoomDay ;
    schema:date ?date ;
    schema:location ?location .
} GROUP BY ?date ORDER BY ?date
{% endcapture %}
{% assign menudays = page.rdf | sparql_query: menu_query %}

{% capture roomdays_query %}
# This query selects all dw:RoomDay resources to help build
# the menu and mobile menu for each day and location
SELECT ?iri ?date ?location ?location_name ?datestring WHERE {
  ?iri rdf:type dw:RoomDay ;
    schema:date ?date ;
    schema:location ?location .
  ?location dct:title ?location_name .
} ORDER BY ?date ?location
{% endcapture %}
{% assign roomdays = page.rdf | sparql_query: roomdays_query %}


<div class="content-header">
<h1>
  Das Programm<br /> Hier müssen allgemeine Sache zur Dataweek oder dem ausgewählten Event bzw. Tag hin<br />
</h1>
<p>
  Die Data Week ist eine einwöchige Veranstaltung in Leipzig mit den Themenschwerpunkten Digitalisierung in heterogenen Lebensbereichen sowie transparente, nachvollziehbare und nachhaltige Anwendungen…
</p>
<form class="filter only-small-screens" action="#">
  <div>
    <label for="form-select1" class="hideme">Tag / Bereich</label> <select class="form-control" id="form-select1">
      <option value="">
        Tag wählen
      </option>
      {% for day in menudays %}
        {% assign weekday = day.date | localize: "%a"  %}
        {% if site.language == 'de' %}
          {% assign date_string = day.date | date: "%d.%m.%Y" %}
        {% else %}
          {% assign date_string = day.date %}
        {% endif %}
        <option value="{{ day.link.page_url | relativize_url }}">
          {{ weekday }}, {{ date_string }} ({{ day.location_name }})
        </option>
      {% endfor %}
      <option value="2023-06-26-a">
        26.6.2023 Montag (Bereich A)
      </option>
      <option value="2023-06-26-b">
        26.6.2023 Montag (Bereich B)
      </option>
    </select> <button type="submit">Anzeigen</button>
  </div>
</form>
<nav class="nav-sub1" aria-label="Untermenü Stufe 1">
  <ul>
    {% for day in menudays %}
      {% assign weekday = day.date | localize: "%A"  %}
      {% if site.language == 'de' %}
       {% assign date_string = day.date | date: "%d.%m.%Y" %}
      {% else %}
        {% assign date_string = day.date %}
      {% endif %}
      {% if day.date == date %}
        <li class="open">
          <a class="active" href="{{ day.link.page_url | relativize_link  }}.html"><span>{{ date_string }}</span>{{ weekday }}</a>
      {% else %}
        <li>
          <a href="{{ day.link.page_url | relativize_link }}.html"><span>{{ date_string}}</span>{{ weekday }}</a>
      {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
</div>
<nav class="nav-sub2" aria-label="Untermenü Stufe 2">
<ul>
{% for day in roomdays %}
  {% if day.date == date %}
    {% if page.rdf == day.iri %}
      <li class="open">
        <strong aria-current="page">{{ day.location_name }}</strong>
      </li>
    {% else %}
      <li>
        <a href="{{ day.iri.page_url | relativize_url  }}.html">{{ day.location_name }}</a>
      </li>
    {% endif %}
  {% endif %}
{% endfor %}
</ul>
</nav>
<section class="timetable">
{% capture events_query %}
  SELECT DISTINCT (?event as ?iri) ?title ?description ?datestring ?date
  WHERE {
    <{{ page.rdf }}> rdf:type dw:RoomDay ;
      schema:date ?date ;
      schema:location ?location .
    ?mainEvent schema:subEvent ?event .
    ?event schema:subEvent ?session ;
        dct:description ?eventDescription ;
        rdfs:label ?title ;
        schema:date ?date .
    FILTER(langMatches(lang(?title), "{{ site.language }}"))
    ?session schema:location ?location ;
      schema:startTime ?session_start .
  } ORDER BY ?session_start
{% endcapture %}
{% assign events = page.rdf | sparql_query: events_query %}
{% for event in events %}
  <header>
    <h2>
      {{ event.eventTitle }} <span>{{ event.datestring }}</span>
    </h2>
    <p class="calendar">
      <a href="programm_montag_bereich-a.html#">Tag als Kalender abonnieren <svg role="img" focusable="false" aria-hidden="true" height="28" width="28">
      <use xlink:href="/resources/images/icons.svg#calendar-add"></use></svg></a>
    </p>
  </header>
  {% capture sessions_query %}
  SELECT DISTINCT (?session as ?iri) ?title ?description ?start ?end ?host
  WHERE {
    <{{ event.iri }}> schema:subEvent ?session ;
      schema:date ?date .
    ?session schema:location <{{ location }}> ;
      dct:title ?title ;
      schema:startTime ?start ;
      schema:performer ?host ;
      schema:endTime ?end .
      FILTER(langMatches(lang(?title), "{{ site.language }}"))
    OPTIONAL { ?session dct:description ?description .
      FILTER(langMatches(lang(?description), "{{ site.language }}"))
    }
  } ORDER BY ?start
  {% endcapture %}
  {% assign sessions = page.rdf | sparql_query: sessions_query %}
  {% for session in sessions %}
    {% assign session_start = session.start | date: "%H:%M" %}
    {% assign session_end = session.end | date: "%H:%M" %}
    {% capture host_name %}{% include components/label.html iri = session.host %}{% endcapture %}
    <section class="timetable-unit">
      <header>
        <h3>
          {{ session_start }} {{ str_clock }}
        </h3>
      </header>
      <div>
        <h4>
          {{ session.title }}
        </h4>
        <p class="meta">
          <time datetime="{{ session_start }}">{{ session_start }}</time> - <time datetime="{{ session_end }}">{{ session_end }}</time> <span>|</span> {{ current_location_string }}
        </p>
        <p>
          {{ str_host }} {{ host_name }}
          {% if session.description %}
          <br />{{ session.description }}
          {% endif %}
        </p>
        {% capture talks_query %}
          SELECT DISTINCT ?title ?description ?start ?end ?speaker
          WHERE {
            <{{ session.iri }}> schema:subEvent ?talk .
            ?talk dct:title ?title ;
                schema:performer ?speaker ;
                schema:startTime ?start ;
                schema:endTime ?end .
            FILTER(langMatches(lang(?title), "{{ site.language }}"))
            OPTIONAL { ?talk dct:description ?description .
              FILTER(langMatches(lang(?description), "{{ site.language }}"))
            }
          }
        {% endcapture %}
        {% assign talks = page.rdf | sparql_query: talks_query %}
        {% for talk in talks %}
          {% assign talk_start = talk.start | date: "%H:%M" %}
          {% assign talk_end = talk.end | date: "%H:%M" %}
          {% capture speaker_name %}{% include components/label.html iri = talk.speaker %}{% endcapture %}
          <ul>
            <li>
              {{ talk_start }} - {{ talk_end }} <strong>{{ speaker_name }}: {{ talk.title }}</strong>
            </li>
          </ul>
        {% endfor %}
        <p class="calendar">
          <a href="programm_montag_bereich-a.html#" title="Veranstaltung als Kalender-Datei speichern"><svg role="img" focusable="false" aria-hidden="true" height="28" width="28">
          <use xlink:href="/resources/images/icons.svg#calendar-add"></use></svg></a>
        </p>
      </div>
    </section>
    {% if talks.first %}
      {% assign dayends = true %}
      {% assign next = false %}
      {% for lookahead in sessions %}
        {% if next == true %}
          {% assign break_end = lookahead.start | date: "%H:%M" %}
          {% assign dayends = false %}
          {% assign next = false %}
        {% endif %}
        {% if session.iri == lookahead.iri %}
         {% assign next = true %}
        {% endif %}
      {% endfor %}
      {% if dayends == false %}
        <section class="timetable-unit timetable-unit-break">
          <header>
            <h3></h3>
          </header>
          <div>
            <h4>
              {{ str_break }}
            </h4>
            <p class="meta">
              <time datetime="{{ session_end }}:00">{{ session_end }}</time> - <time datetime="{{ break_end }}:00">{{ break_end }}</time>
            </p>
          </div>
        </section>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}
