:root {
  --menu-height: 4rem;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#HomeSection, #landing {
  display: flex;
  height: 100%;
  // height: calc(100% - var(--menu-height));
  margin: 0rem;
  padding: 0rem;
  text-align: center;
}

#HomeSection {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/Web_BG_pfade.svg")
}

.landing-title-top {
  width: 80%;
  margin: auto;
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
}

.landing-title-top img {
  width: inherit;
  max-width: 90vw;
  max-height: 60vh;
}

.landing-title-bottom {
  padding: 0.5rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2%;
}


@media (min-aspect-ratio: 4/3) { /* and (max-aspect-ratio: 15/5) 6/5 */
  .landing-title-bottom {
    margin: auto 10vw;
  }
}

.landing-menu {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  height: var(--menu-height);
  text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
  hyphens: auto;
}

h3, .h3 {
  font-size: 1.5rem;
}

h4, .h4 {
  font-size: 1.3rem;
}

a {
  // color: #215063;
  color: #3887a7;
}

.btn-success {
  background-color: #b72c37;
  border-color: #b72c37;
}

.jumbotron {
  background-color: #fff;
}

.section {
  margin-top: 5rem;
}

.pause {
  color: grey;
  font-size: 1.1em;
  font-style: italic;
}

.partnerlogo {
  height: 10rem;
}

.lswt-card-columns, .lswt-speaker-columns {
  display: flex;
  //grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  //grid-gap: 5px;
  flex-flow: wrap;
}

.lswt-card-columns > div {
  padding: 2rem;
  min-width: 230px;
  flex-grow: 1;
  flex-basis: min-content;
}

.lswt-speaker-columns > div {
  padding: 2rem;
  padding-bottom: 0rem;
  min-width: 230px;
  flex-grow: 1;
  flex-basis: min-content;
}

div.lswt-textcard {
  min-width: 330px;
  flex-grow: 100;
}

.lswt-card {
  text-align: center;
}

.lswt-card .lswt-card-title {
  margin-top: .5rem;
  height: 2.2em;
  hyphens: none;
}

.lswt-card .logo-container {
  width: 100%;
  text-align: center;
}

.lswt-card .logo-3rem {
  height: 3rem;
  margin: .5rem 0;
}

.lswt-card .logo {
  height: 100%;
  max-width: 100%;
}

.landing-title-bottom .lswt-card {
  flex-basis: content;
  padding: 0;
  // background-color: grey;
  margin: .5rem;
  min-width: unset;
}

.landing-title-bottom .lswt-card .logo-container {
  height: 10vh;
  min-width: 10vh;
}

.landing-title-bottom .lswt-card .logo {
  background-color: white;
  padding: 1rem;
  border-radius: .25rem !important;
}

//
// @media (min-aspect-ratio: 6/5) { /* and (max-aspect-ratio: 15/5)  */
//
// }


// @include media-breakpoint-up(md) {
//   .w-md-40 {
//     width: 40%
//   }
// }


//
// Columns
// https://github.com/twbs/bootstrap/blob/master/scss/_card.scss
//
//
// .lswt-card-columns {
//   .card {
//     margin-bottom: $card-columns-margin;
//   }
//
//   @include media-breakpoint-up(sm) {
//     column-count: 2;
//     column-gap: $card-columns-gap;
//     orphans: 1;
//     widows: 1;
//
//     .card {
//       display: inline-block; // Don't let them vertically span multiple columns
//       width: 100%; // Don't let their width change
//     }
//   }
//
//   @include media-breakpoint-up(lg) {
//     column-count: 3;
//     column-gap: $card-columns-gap;
//     orphans: 1;
//     widows: 1;
//
//     .card {
//       display: inline-block; // Don't let them vertically span multiple columns
//       width: 100%; // Don't let their width change
//     }
//   }
// }
