$color_blue: #17214c;
$color_lightblue: #61b8e4;
$color_highlight: #b72c37;

:root {
  --menu-height: 4rem;
}

html {
  height: 100%;
}

body {
  background-color: #3da6dc;
  background-image: url(../images/Background.svg);
  background-repeat: repeat;
  background-position: top -300px left 30% ;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 100%;
  margin: 0;
}

.main-container {
  background-color: rgba(61, 166, 220, 0.7);
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .main-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .main-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .main-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .main-container {
    max-width: 1140px;
  }
}

h1, h2, h3, h4, h5, h6, p {
  hyphens: auto;
  color: #fff;
}

h1 {
  font-weight: 800;
  font-size: 56px;
}
h2 {
  font-weight: 800;
  padding-top: .5rem;
}

h3, .h3 {
  font-size: 1.5rem;
}

h4, .h4 {
  font-size: 1.3rem;
}

.inline {
  display: inline;
}

.highlight {
  color: $color_blue;
}

.subtitle {
  color: $color_blue;
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.top_navigation {
  padding-top: 2rem;
}

.date {
  background-color: $color_blue;
  color: #fff;
  padding: .25em 1em;
}

.locationtag {
  float: right;
  clear: both;
  background-color: $color_blue;
  color: #fff;
  padding: .25em 1em;
  margin-left: auto;
  margin-right: 0;
}

p {
  font-size: 16px;
  color: #fff;
  /* font-weight: 400; */
}
a {
  color: #b5e3f8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.btn {
  border-radius: 0em;
}

.btn-success {
  background-color: $color_highlight;
  border-color: $color_highlight;
}

.btn-primary {
  background-color: $color_blue;
  border-color: $color_blue;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:focus {
  background-color: $color_lightblue;
  border-color: $color_blue;
}

.jumbotron {
  background-color: #fff;
}

.section {
  margin-top: 5rem;
}

.pause {
  color: $color_blue;
  font-size: 1.1em;
  font-style: italic;
}

.partnerlogo {
  height: 10rem;
}

.lswt-card-columns, .lswt-speaker-columns {
  display: flex;
  //grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  //grid-gap: 5px;
  flex-flow: wrap;
}

.lswt-card-columns > div {
  margin: 1rem;
  padding: 1rem;
  min-width: 230px;
  flex-grow: 0;
  flex-basis: min-content;
}

.lswt-speaker-columns > div {
  padding: 2rem;
  padding-bottom: 0rem;
  min-width: 230px;
  flex-grow: 1;
  flex-basis: min-content;
}

div.lswt-textcard {
  min-width: 330px;
  flex-grow: 100;
}

.lswt-card {
  text-align: center;
  // background-color: rgba(148, 195, 220, 0.7);
  background-color: rgba(255, 255, 255, 0.67);
  border-radius: .25rem !important;
}

.lswt-card a {
  color: $color_blue;
}

.lswt-card .lswt-card-title {
  margin-top: .5rem;
  height: 2.2em;
  hyphens: none;
  color: $color_blue;
}

.lswt-card .logo-container {
  width: 100%;
  text-align: center;
}

.lswt-card .logo-3rem {
  height: 3rem;
  margin: .5rem 0;
}

.lswt-card .logo {
  height: 100%;
  max-width: 100%;
}

.landing-title-bottom .lswt-card {
  flex-basis: content;
  padding: 0;
  // background-color: grey;
  margin: .5rem;
  min-width: unset;
}

.landing-title-bottom .lswt-card .logo-container {
  height: 10vh;
  min-width: 10vh;
}

.landing-title-bottom .lswt-card .logo {
  background-color: white;
  padding: 1rem;
  border-radius: .25rem !important;
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
}

.w100 {
  max-width: 100%;
}

.w90 {
  max-width: 90%;
}

.w80 {
  max-width: 80%;
}

.w50 {
  max-width: 50%;
}

img.h120p {
  max-height: 120px;
}

img.padded {
  padding: 20px 20px;
}

img.v-padded {
  padding: 20px 0px;
}

img.h-padded {
  padding: 0px 20px;
}

img.icon {
  height: 1.5em;
}

iframe, object, embed {
        max-width: 100%;
        max-height: 100%;
}
